// Story
@esStoryBorder: @esBorder;
@esStoryBackground: darken(@esBackground, 2%); //right side fafafa
@esStoryTextfieldBackground: @esBackground;

@esStoryAttachmentButtonBorder: @esBorder;
@esStoryAttachmentButtonActiveBorder: @esBorder;
@esStoryAttachmentButtonHoverColor: #f2f2f2;
@esStoryAttachmentIconColor: @esBackground;

@esStoryLoadingBackground: rgba(255,255,255,0.8);

// Story panel
@esStoryPanelContentBackground: @esBackground;
@esStoryPanelContentColor: @esColor;
@esStoryPanelActiveBorder: @esBorder;
@esStoryPanelButtonBorder: @esBorder;

// @esStoryPanelButtonWordsColor: @esColor;
// @esStoryPanelButtonWordsTextShadow: 1px 1px 0 @esBackground;
// @esStoryPanelButtonWordsHoverColor: #0088CC;

@esStoryLocationBackground: @esBackground;
@esStoryLocationBoxShadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
@esStoryLocationSuggestionsBackground: @esStoryLocationBackground;
@esStoryLocationSuggestionsBorder: @esBorder;
@esStoryLocationRemoveButtonColor: #aaa;
@esStoryLocationRemoveButtonHoverColor: #0088cc;
@esStoryLocationPath: '@{media_uri}/images/map-bg.png';

@esAlbumPhotoBackground: #eee;
@esAlbumPhotoHoverBackground: #ddd;
@esAlbumPhotoRemoveButtonBackground: rgba(0,0,0,0.6);
@esAlbumPhotoRemoveButtonColor: @esBackground;
@esAlbumPhotoRemoveButtonTextShadow: 0 1px 1px rgba(0, 0, 0, 0.75);


@esAlbumPhotoUploadButtonBackground: #eee;
@esAlbumPhotoUploadButtonHoverBackground: #ddd;
@esAlbumPhotoUploadButtonHoverColor: #555;
@esAlbumPhotoHintColor: #999;

@esStoryLinkBackground: darken(@esBackground, 4%);
@esStoryLinkTextboxBorder: darken(@esBackground, 20%); ;
@esStoryLinkTextboxBackground: @esBackground;
@esStoryLinkTitleColor: @esColor;

@esStoryLinkHoverBackground: darken(@esBackground, 0.5%);  //fafafa
@esStoryLinkHoverBorder: darken(@esBackground, 30%); //bbb

@esStoryLinkUrlColor: @blueDark;
@esStoryLinkUrlHoverColor: @blue;

@esStoryLinkImagesBorder: darken(@esBackground, 20%);
@esStoryLinkImagesBackground: @esBackground;

@esStoryLinkFormBusyColor: #aaa;

@esStoryFooterButtonWidth: 38px;
@esStoryFooterButtonHeight: 38px;

@esStoryPanelButtonColor: #666;
@esStoryPanelButtonActiveColor: #5580BE;
@esStoryPanelButtonHoverColor: #222;
@esStoryMetaButtonColor: #666;
@esStoryMetaButtonActiveColor: #5580BE;
@esStoryMetaButtonHoverColor: #222;

@esStoryMoodHoverBackground: #E7EDF3;

@esStoryVideoBackground: darken(@esBackground, 4%);