// Albums

// Albums/album
// Albums/item
@esAlbumsBackground: @esBackground;
@esAlbumCoverBackground: darken(@esBackground, 4%); //f5f5f5
@esAlbumsBorder: darken(@esBackground, 13.5%); //ddd
@esAlbumsCoverGradientBackground: rgba(255, 255, 255, 0);
@esAlbumsCoverGradientBackgroundHighlight: rgba(255, 255, 255, 1);
@esAlbumsCoverGradientShadowBackground: white;
@esAlbumsTitleTextShadow: 1px 1px 0px rgba(255,255,255,0.5);
@esAlbumsFooterBorder: #ddd;
@esAlbumMoreButtonBackground: #f0f0f0;

// Albums/form
@esAlbumFormBackground: @esBackground;
@esAlbumFormBorder: darken(@esBackground, 20%); //ccc
@esAlbumCoreAlbumBackground: darken(@esBackground, 2.5%); //f9f9f9

// Albums/photo
// Albums/upload
// Albums/response
