/*** VikBooking Search ***/

.vbmodformcheckin > label, .vbmodformcheckout > label {
    min-width: 22px !important;
    display: block !important;
    float: none !important;
}
.vbmodformcheckin input, .vbmodformcheckout input {
    position: relative;
}
.vbmodhorsearchmaindiv form > div {
    margin: 5px 20px 5px 0 !important;
}

/*** VikBooking Rooms List ***/
.vbmodroomsroomcost {
    text-align: center !important;
}
.vbmodrooms-priceleft .vbmodroomsroomcost {
    text-align: right !important;
}
.vbmodroomsboxdiv {
    border: 0 !important;
    border-bottom-right-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    padding: 0 0 15px !important;
    min-height: 330px !important;
}
.vbmodroomsimg {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.vbinf {
    padding: 0 10px;
    text-align: center;
}
.vbmodrooms-divblock {
    border:0 !important;
    margin: 10px 0 0 !important;
    padding: 0 !important; 
}
.vbmodroomsname {
    font-size: 18px !important;
    color: #444 !important;
    font-weight: normal !important;
}
.vbmodroomscat {
    font-weight: normal !important;
    font-size: 12px !important;
    font-style: normal !important;
}
.vbmodroomsbeds {
    background: @color1;
    color: #fff;
    padding:3px 5px;
    font-size: 12px;
    display: inline-block;
}
.vbmodrooms-wrapper-img {
    position: relative;
}
.vbmodrooms-div-img-mask {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
   .e4jtran
}
.vbmodrooms-wrapper-img:hover .vbmodrooms-div-img-mask {
    opacity: 1;
    .e4jtran
}
.vbmodrooms-div-img-mask:after {
    border:2px solid #fff;
    border-radius: 50%;
    content: "+";
    color: #fff;
    width: 50px;
    height: 50px;
    top: 40%;
    left: 40%;
    position: absolute;
    line-height: 45px;
    font-size: 50px;
    text-align: center;
    .e4jtran
}
.vbmodrooms-priceleft .vbmodroomsbeds {
    position: absolute;
    top: 10px;
    right: 10px;
}
.vbmodrooms-priceleft .vbinf {
    display: inline-block;
    padding: 0;
    text-align: left;
    width: 100%;
}
.vbmodrooms-priceleft .vbinf .vbmodrooms-inner-left {
    float: left;
    width: 60%;
    display: inline-block;
    padding: 0 0 10px 10px;
}
.vbmodrooms-priceleft .vbinf .vbmodroomsroomcost {
    display: inline-block;
    float: right;
    width: 40%;
    position: relative;
    font-size: 17px;
    font-weight: 400;
    padding: 0 10px 0 0;
    text-align: right;
}
.vbmodrooms-priceleft .vbmodroomslabelcost {
    font-size: 12px;
}
.vbmodrooms-priceleft .vbmodroomsboxdiv {
    min-height: 250px !important;
    padding: 0 !important;
}
.vbmodrooms-priceleft .vbmodroomsview a {
    width: 80%;
    border:0;
    margin: 0 0 10px;
}
.vbmodrooms-priceleft .vbmodroomsview a:hover {
    text-decoration: none;
}
.vbmodrooms-priceleft .vbmodroomsdesc {
    width: 100%;
    padding: 0 10px 10px;
    margin: 0;
}
.vbmodrooms-singleview li {
    width: 50% !important;
}
.vbmodrooms-singleview .vbmodrooms-wrapper-img {
    width: 40%;
}
.vbo-search-submit .btn, .vbo-search-submit .btn:hover {
    color: #fff; 
}

/*** VikBooking Component ***/

.vbroomimgdesc .vikfx-thumbslide-container { 
    float: none; 
    width: auto !important;
}
.vbroomimgdesc .vikfx-thumbslide-thumbnails {
    width: 100%;
    text-align: center;
}
.vbroomimgdesc .vikfx-thumbslide-thumbnails li {
    display: inline-block;
    float: none;
}
.vbo-rdet-descprice-block .vbo-rdet-desc-cont {
    padding: 33px 10px !important;
}

ol.vbo-stepbar li.vbo-step-current::before, ol.vbo-stepbar li.vbo-step-complete::before, 
.vbmodalrdetails a {
    background-color: @color1-dark !important;
}
.ol.vbo-stepbar li.vbo-step-complete, ol.vbo-stepbar li.vbo-step-current,
ol.vbo-stepbar li.vbo-step-complete, ol.vbo-stepbar li.vbo-step-current {
    border-color:@color1-dark !important;
}
.vbselectr a, .vbselectr-result, .booknow, .vbentercoupon input.vbsubmitcoupon, .vbo-enterpin-top > .vbo-pincode-sbmt,
.vbo-search-submit .btn, .vbo-promotion-room-book-block a, .vbo-seasons-calendar-restriction-wday, .vbsearchorderdiv .vbsearchordersubmit {
    background-color:@color1-dark !important;
    .e4jtran
}
.vbselectr a, .vbselectr-result:hover, .booknow:hover, .vbentercoupon input.vbsubmitcoupon:hover, .vbo-enterpin-top > .vbo-pincode-sbmt:hover,
.vbo-search-submit .btn:hover, .vbo-promotion-room-book-block a:hover, .vbsearchorderdiv .vbsearchordersubmit:hover {
    background-color:@color1 !important;
    .e4jtran
}
.room_cost, .vbo-results-checkin, .vbo-results-nights, .vbo-results-numadults, .vbo-showprc-staydetails-party,
.vbo-showprc-staydetails-nights, .vbtith3, .room_prices h4, .vbo-showprc-price-entry-cost, .room_options h4, 
.vbo-showprc-option-entry-cost, .vbcheckinroom, .vbcheckoutroom, .vbo-oconfirm-roomname, .vbtableorder .vbordrowtotal .vbtotalord, 
.vbo-enterpin-top span > span, .vbchoosepayment, .vbordroomdetpeople, .vbvordcosts .vbvordcoststot, .vbo-leave-deposit, 
.vbvordcoststitlemain > span, .vbvordudata .vbvordudatatitle, .vbo-promotion-date-validuntil, .vbo-seasons-calendar-seasonname,
.vblistroomnamediv .vblistroomname, .vbo-availability-month-name, .vbsearchordertitle, #vbjstotnights, .vbo-results-numrooms, 
.vbo-results-head > .vbo-results-numchildren, .vbsearchnroom, .vbsearchroomparty, .vblistroomnamediv .vblistroomname, .vb_detpriceroombt,
.vbpricedetstrhead {
    color:@text-dark !important;
}
.vblistroomblock, .vbcontdivtot, .vbo-results-head, .vbsearchresheadcheckroom, .vbcheckinroom, .vbtableorder .vbordrowtotal td,
.vbentercoupon, .vbo-order-arrivdep-info, .vbo-leave-deposit, .vbo-rdet-descprice-block, .vbo-availability-room-details-first, 
.vbo-availability-room-details-last, .vbsearchproominfo {
    border-color:@color1-lightly !important;
}
.vbo-results-nights::after, .vbo-results-numadults::after, .vbo-showprc-staydetails-party::after,
.vbo-showprc-staydetails-nights::after, .vbordroomdetpeople::after, .vbo-promotion-date-validuntil::after, .vbsearchordertitle::before,
.vbo-results-numrooms::after, .vbsearchnroom::after, .vbsearchroomparty::after {
    background-color: @color1 !important;
}
.vbo-results-checkin::after, .vbcheckinroom::after {
    background-image: url("../../images/themes/checkin-icon@{color-code}.png") !important;
}
.vbo-results-checkout::after, .vbcheckoutroom::after {
    background-image: url("../../images/themes/checkout-icon@{color-code}.png") !important;
}
.vbinput:focus, .vbentercoupon input.vbinputcoupon:focus, .vbo-enterpin-block #vbo-pincode-inp:focus, 
.vbtextarea:focus {
    border-color:@color1 !important;
}
.vbvordcosts, .vb_detpriceroombt {
    background-color: @background-verysoft !important;
}
.vbdivsearch .input-group {
    width: 100%;
}
.vbdivsearch input[type^="text"] {
    min-width: 18%;
}