<?php
/**
* @package 		EasySocial
* @copyright	Copyright (C) 2010 - 2014 Stack Ideas Sdn Bhd. All rights reserved.
* @license 		Proprietary Use License http://stackideas.com/licensing.html
* @author 		Stack Ideas Sdn Bhd
*/
defined( '_JEXEC' ) or die( 'Unauthorized Access' );
?>
<div class="es-avatar-selection" data-avatar-selection>
	<div class="es-avatar-preview">
		<div class="es-avatar-preview-inner">
			<div class="es-avatar-container" data-avatar-container>
				<img class="es-avatar-image" data-avatar-image />
			</div>
			<button type="button" class="btn btn-success" data-avatar-done-button>Create profile photo</button>
		</div>
	</div>
</div>
