<?php
/**
* @package 		EasySocial
* @copyright	Copyright (C) 2010 - 2014 Stack Ideas Sdn Bhd. All rights reserved.
* @license 		Proprietary Use License http://stackideas.com/licensing.html
* @author 		Stack Ideas Sdn Bhd
*/
defined( '_JEXEC' ) or die( 'Unauthorized Access' );
?>
<div id="fd" class="es es-photo-popup es-responsive" data-photo-popup>
	<div class="es-popup-viewport es-media-browser" data-popup-viewport></div>
	<div class="fd-loading"><span></span></div>
</div>
