<?php
/**
* @package 		EasySocial
* @copyright	Copyright (C) 2010 - 2014 Stack Ideas Sdn Bhd. All rights reserved.
* @license 		Proprietary Use License http://stackideas.com/licensing.html
* @author 		Stack Ideas Sdn Bhd
*/
defined( '_JEXEC' ) or die( 'Unauthorized Access' );
?>
<div data-photo-tag-item
     data-photo-tag-position
     class="es-photo-tag-item layout-form">

	<div class="es-photo-tag-title"><span data-photo-tag-title></span></div>

	<div class="es-photo-tag-form">
		<i></i>
		<div>
			<fieldset>
				<input data-photo-tag-input type="text"
				       class="form-control input-sm es-photo-tag-input es-photo-tag-input"
				       placeholder="<?php echo JText::_("COM_EASYSOCIAL_WHO_IS_THIS"); ?>" />
				<span data-photo-tag-remove-button class="es-photo-tag-remove-button"><i class="fa fa-remove"></i></span>
			</fieldset>
			<div class="es-photo-tag-menu" data-photo-tag-menu></div>
		</div>
	</div>
</div>
