<?php
/**
* @package 		EasySocial
* @copyright	Copyright (C) 2010 - 2013 Stack Ideas Sdn Bhd. All rights reserved.
* @license 		Proprietary Use License http://stackideas.com/licensing.html
* @author 		Stack Ideas Sdn Bhd
*/
defined( '_JEXEC' ) or die( 'Unauthorized Access' );
?>
<a class="btn btn-es-primary btn-stream-updates" href="javascript:void(0);"><i class="fa fa-repeat"></i><?php echo JText::_('COM_EASYSOCIAL_STREAM_LOAD_PREVIOUS_STREAM_ITEMS'); ?></a>
