.table {
margin-bottom:18px;
width:100%;
}

.table td,.table th {
border:none;
border-top:1px solid #ddd;
line-height:18px;
padding:8px;
text-align:left;
vertical-align:top;
}

.table tr {
border:none;
}
