.tj-dashboard .navbar-inner { -webkit-box-shadow:none!important;background:hsl(0,0%,98%)!important;box-shadow:none!important; }
.tj-dashboard .statbox { background:#EEEEEE;padding:10px;position:relative; }
.tj-dashboard .statbox .statbox-title { display:block;font-size:14px;margin-top:4px;top:12px; }
.tj-dashboard .statbox .statbox-value { font-size:20px;font-weight:bold; }
.tj-dashboard .statbox .statbox-overlay { -moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;overflow:hidden;padding:20px; }
.tj-dashboard .statbox .statbox-overlay.statbox-blue { background:#36a9e1; }
.tj-dashboard .statbox .statbox-overlay.statbox-lightBlue { background:#67c2ef; }
.tj-dashboard .statbox .statbox-overlay.statbox-green { background:#9abc32; }
.tj-dashboard .statbox .statbox-overlay.statbox-lightCyan { background:rgb(46,193,204); }
.tj-dashboard .statbox .statbox-overlay.statbox-darkGreen { background:#78cd51; }
.tj-dashboard .statbox .statbox-overlay.statbox-lightOrange { background:#fabb3d; }
.tj-dashboard .statbox .statbox-overlay.statbox-yellow { background:#eae874; }
.tj-dashboard [class^="icon-"],[class*=" icon-"] { vertical-align:middle; }
.tj-dashboard .statbox-icons { color:white;font-size:35px; }
.tj-dashboard .collapse-icon { border-left:8px solid transparent;border-right:8px solid transparent;border-top:8px solid #000;display:inline-block;height:0;vertical-align:top;width:0; }
.tj-dashboard .stat-block { background:white;border:1px solid #ccc;border-top:none;margin:1em 0; }
.tj-dashboard .stat-block-content { margin:5px;min-height:0; }
.tj-dashboard .stat-block-header { -moz-border-radius:0;-webkit-border-radius:0;border-left:none;border-radius:0;border-right:none;margin-bottom:0; }
.tj-dashboard .stat-block-header div { padding-top:10px; }
.tj-dashboard .nav-tabs { list-style-type:none!important; }
.tj-dashboard .nav-tabs > li { margin-bottom:-1px!important; }
.tj-dashboard li { background:none repeat scroll 0 0 transparent !important; list-style:none outside none!important; }
.tj-dashboard .panel-olive-tradewind {border-color: #4DB3A2;}
.tj-dashboard .panel-olive-tradewind .panel-heading {border-color: #4DB3A2;color: #fff;background-color: #4DB3A2;}
.tj-dashboard .panel-olive-tradewind a {color: #4DB3A2;}
.tj-dashboard .panel-olive-tradewind a:hover {color: #4DB3A2;}
.tj-dashboard .panel-purple-blue-marguerita {border-color: #8175C7;}
.tj-dashboard .panel-purple-blue-marguerita .panel-heading {border-color: #8175C7;color: #fff;background-color: #8175C7;}
.tj-dashboard .panel-purple-blue-marguerita a {color: #8175C7;}
.tj-dashboard .panel-purple-blue-marguerita a:hover {color: #8175C7;}
.tj-dashboard .panel-green-downy {border-color: #65CEA7;}
.tj-dashboard .panel-green-downy .panel-heading {border-color: #65CEA7;color: #fff;background-color: #65CEA7;}
.tj-dashboard .panel-green-downy a {color: #65CEA7;}
.tj-dashboard .panel-green-downy a:hover {color: #65CEA7;}
.tj-dashboard .panel-blue-viking {border-color: #5AB6DF;}
.tj-dashboard .panel-blue-viking .panel-heading {border-color: #5AB6DF;color: #fff;background-color: #5AB6DF;}
.tj-dashboard .panel-blue-viking a {color: #5AB6DF;}
.tj-dashboard .panel-blue-viking a:hover {color: #5AB6DF;}

