.com_config #templates-form .tip {
  background: #f5f5f5;
  padding: 12px 12px;
}
.com_config #templates-form textarea {
  height: auto;
  width: auto;
  min-height: 100px;
  min-width: 50%;
}
.com_config #templates-form .input-append .add-on,
.com_config #templates-form .input-prepend .add-on {
  width: 35px;
}
.com_config #templates-form .input-append input,
.com_config #templates-form .input-prepend input {
  display: inline-block;
}
.com_config #templates-form .input-append .btn,
.com_config #templates-form .input-prepend .btn {
  border: 1px solid #cccccc;
}

.com_config #templates-form .row-fluid .span6 {
  width: 100%;
}
@media (min-width: 768px) {
  .com_config #templates-form .control-group .control-label {
    width: 250px;
  }
  .com_config #templates-form .control-group .controls {
    margin-left: 280px;
  }
}
.com_config #modules-form .input-append .add-on,
.com_config #modules-form .input-prepend .add-on {
  width: 35px;
}
.com_config #modules-form .input-append input,
.com_config #modules-form .input-prepend input {
  display: inline-block;
}
.com_config #modules-form .input-append .btn,
.com_config #modules-form .input-prepend .btn {
  border: 1px solid #cccccc;
}
.com_config #modules-form .accordion-group {
  margin-bottom: 20px;
}
.com_config #modules-form .accordion-group .accordion-heading .accordion-toggle {
  border: 1px solid #ddd;
  border-radius: 5px 5px 0 0;
  color: #428bca;
  display: block;
  padding: 10px;
  outline: none;
}
.com_config #modules-form .accordion-group .accordion-heading .accordion-toggle.collapsed {
  border-radius: 5px;
  color: #666;
}
.com_config #modules-form .accordion-group .accordion-body {
  border: 1px solid #ddd;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  padding-top: 20px;
}
.com_config #modules-form .accordion-group .accordion-body .nav-tabs {
  border-bottom: 0;
}
.com_config #modules-form .radio input[type="radio"] {
  margin-left: 0;
  position: relative;
}
.com_config #modules-form .radio label {
  padding-left: 5px;
  padding-right: 20px;
}
.controls select {
  vertical-align: middle;
  width: 220px;
}
@media (min-width: 768px) {
  .edit .inputbox,
  .edit input[type="text"],
  .edit select.inputbox,
  .edit select {
    width: 250px;
  }
}
.edit textarea {
  width: 100%;
}
.edit .input-append,
.edit .input-prepend {
  display: block;
  width: auto;
}
@media (min-width: 768px) {
  .edit .input-append input[type="text"],
  .edit .input-prepend input[type="text"],
  .edit .input-append input.inputbox,
  .edit .input-prepend input.inputbox {
    display: inline-block;
    width: 210px;
  }
}
.edit .input-append .btn,
.edit .input-prepend .btn {
  border: 1px solid #cccccc;
  background-color: #ffffff;
}
.edit .nav-tabs {
  margin-bottom: 20px;
}
.edit .tab-pane:before,
.edit .tab-pane:after {
  content: " ";
  display: table;
}
.edit .tab-pane:after {
  clear: both;
}
#editor-xtd-buttons,
.toggle-editor {
  margin-top: 20px;
  margin-bottom: 20px;
}
#editor-xtd-buttons .btn,
.toggle-editor .btn {
  background-color: #ffffff;
  text-shadow: 0 1px 0 #fff;
  border-color: #cccccc;
}
#editor-xtd-buttons {
  margin-right: 30px;
}
#sbox-window {
  padding: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.btn.jmodedit {
  padding: 0;
}
.btn.jmodedit:focus,
.btn.jmodedit:active {
  box-shadow: none;
}
.jfedit-menu + .tooltip {
  min-width: 100px;
}
.window form table {
  border: 1px solid #dddddd;
  background: #f9f9f9;
  margin-bottom: 20px;
}
.window form table td {
  padding: 8px;
}
.window form .help-block {
  font-size: 12px;
  clear: both;
  padding-top: 5px;
}
.window #imageForm {
  margin: 0;
  width: auto;
}
.window #imageForm .chzn-container {
  float: left;
}
.window #imageForm #upbutton {
  border: 1px solid #cccccc;
  float: left;
  padding: 3px 12px;
  margin-left: 5px;
}
.window #imageForm .pull-right {
  margin-right: 30px;
}
.window #uploadForm {
  width: auto;
}
.window #uploadForm #upload-file {
  margin: 10px 0;
}
.window .manager {
  margin: 0;
  padding: 0;
}
.window .manager:before,
.window .manager:after {
  content: " ";
  display: table;
}
.window .manager:after {
  clear: both;
}
.window .manager .thumbnail {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}
.window.view-articles .filter {
  overflow: visible;
}
.window.view-articles .filter .btn-toolbar .icon-remove,
.window.view-articles .filter .btn-toolbar .icon-search {
  margin-right: 5px;
}
.window.view-articles .filters {
  float: none !important;
}
.window.view-articles .filters .chzn-container {
  display: inline-block;
}
.window.view-articles .filters .chzn-drop input {
  float: none;
}


fieldset.radio.btn-group {
  padding: 0;
}
fieldset.radio.btn-group input {
  display: none;
}
fieldset.radio.btn-group label {
  display: inline-block;
  min-width: 54px;
  padding: 0 12px;
  border: 1px solid #aaa;
  line-height: 28px;
  background: #eee;
  color: #555;
  border-radius: 0;
  text-align: center;
  border-right-width: 0px;
  text-transform: uppercase;
}
fieldset.radio.btn-group label:last-child {
  border-right-width: 1px;
}
fieldset.radio.btn-group label.active {
  background: #690;
  border-color: #5c8b00;
  color: #fff;
}

.button2-left,
.button2-left div {
  float: left;
}
.button2-right,
.button2-right div {
  float: right;
}
.button2-left {
  margin: 5px 5px 0 0;
}
.button2-right {
  margin: 5px 0 0 5px;
}
.button2-left a,
.button2-right a,
.button2-left span,
.button2-right span {
  background: #eeeeee;
  border: 1px solid #e1e1e1;
  color: #999999;
  cursor: pointer;
  display: block;
  float: left;
  padding: 2px 10px;
  border-radius: 4px;
}
.button2-left span,
.button2-right span {
  color: #999999;
  cursor: default;
}
.button2-left .page a,
.button2-right .page a,
.button2-left .page span,
.button2-right .page span {
  padding: 0 6px;
}
.button2-left a:hover,
.button2-right a:hover {
  background: #e1e1e1;
  color: #333333;
  text-decoration: none;
}
.edit.item-page a.modal,
.com_config form a.modal {
  display: inline-block;
  position: inherit;
  width: auto !important;
  top: auto !important;
  overflow: hidden;
}
.edit.item-page a.modal.btn,
.com_config form a.modal.btn {
  background: #ffffff;
  text-shadow: 0 1px 0 #fff;
  border-color: #cccccc;
  overflow: hidden;
}
.controls img.calendar {
  cursor: pointer;
  margin-left: 5px;
}




.thumbnail.pull-left {
    margin: 0 10px 10px 0;
}
.thumbnail.pull-right {
    margin: 0 0 10px 10px;
}
.width-10 {
    width: 10px;
}
.width-20 {
    width: 20px;
}
.width-30 {
    width: 30px;
}
.width-40 {
    width: 40px;
}
.width-50 {
    width: 50px;
}
.width-60 {
    width: 60px;
}
.width-70 {
    width: 70px;
}
.width-80 {
    width: 80px;
}
.width-90 {
    width: 90px;
}
.width-100 {
    width: 100px;
}
.height-10 {
    height: 10px;
}
.height-20 {
    height: 20px;
}
.height-30 {
    height: 30px;
}
.height-40 {
    height: 40px;
}
.height-50 {
    height: 50px;
}
.height-60 {
    height: 60px;
}
.height-70 {
    height: 70px;
}
.height-80 {
    height: 80px;
}
.height-90 {
    height: 90px;
}
.height-100 {
    height: 100px;
}

.thumbnails {
    margin-left: -20px;
    list-style: none;
    *zoom: 1;
}
.thumbnails:before,
.thumbnails:after {
    display: table;
    content: "";
    line-height: 0;
}
.thumbnails:after {
    clear: both;
}
.row-fluid .thumbnails {
    margin-left: 0;
}
.thumbnails > li {
    float: left;
    margin-bottom: 18px;
    margin-left: 20px;
}
.thumbnail {
    display: block;
    padding: 4px;
    line-height: 18px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
    box-shadow: 0 1px 3px rgba(0,0,0,0.055);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
a.thumbnail:hover,
a.thumbnail:focus {
    border-color: #08c;
    -webkit-box-shadow: 0 1px 4px rgba(0,105,214,0.25);
    -moz-box-shadow: 0 1px 4px rgba(0,105,214,0.25);
    box-shadow: 0 1px 4px rgba(0,105,214,0.25);
}
.thumbnail > img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.thumbnail .caption {
    padding: 9px;
    color: #555;
}
#imageForm {
	.span9.control-group { // bs2 class
		float: left;
	}
}
#imageForm,
#uploadForm {
    .control-label {
        text-align: left;
        margin-top: 10px;
    }
    .btn {
        &:hover {
            color: #0b55c4;
        }
    }
}

.items-more {
    h3 {
        margin: 0 0 10px;
    }
    .nav {
        > li {
            border-top: 1px solid #555;
            > a {
                padding: @padding-base-vertical 5px;
                border-radius: 0;  
            }
        }
    }
}

.pagination {
    margin: 18px 0;
    .counter {
        margin-left: 10px;
    }
}
.pagination ul {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 0;
    margin-left: 0;
    margin-bottom: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}
.pagination ul > li {
    display: inline;
}
.pagination ul > li > a,
.pagination ul > li > span {
    float: left;
    padding: 4px 12px;
    line-height: 18px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-left-width: 0;
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
    background-color: #f5f5f5;
}
.pagination ul > .active > a,
.pagination ul > .active > span {
    color: #999;
    cursor: default;
}
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
    color: #999;
    background-color: transparent;
    cursor: default;
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
    border-left-width: 1px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}
.pagination-centered {
    text-align: center;
}
.pagination-right {
    text-align: right;
}
.pagination-large ul > li > a,
.pagination-large ul > li > span {
    padding: 11px 19px;
    font-size: 16.25px;
}
.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span {
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-left-radius: 6px;
}
.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
}
.pagination-mini ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > a,
.pagination-small ul > li:first-child > span {
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
}
.pagination-mini ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > a,
.pagination-small ul > li:last-child > span {
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
}
.pagination-small ul > li > a,
.pagination-small ul > li > span {
    padding: 2px 10px;
    font-size: 12px;
}
.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
    padding: 0 6px;
    font-size: 9.75px;
}