[class^="ico-"], 
[class*=" ico-"]
{
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: top;
}

.ico-blog 
{
	background-image: url(../images/com_easysocial/ico-blog.png)
}

.ico-calendar 
{
	background-image: url(../images/com_easysocial/ico-calendar.png)
}

.ico-feeds 
{
	background-image: url(../images/com_easysocial/ico-feeds.png)
}

.ico-task 
{
	background-image: url(../images/com_easysocial/ico-task.png)
}

.ico-gift 
{
	background-image: url(../images/com_easysocial/ico-gift.png)
}



//ICONS SMALL VERSION

.ico-s-cog 
{
	background-image: url(../images/com_easysocial/ico-s-cog.png)
}

.ico-s-mail 
{
	background-image: url(../images/com_easysocial/ico-s-mail.png)
}