@markitup-container-bg: #222;
@markitup-container-border: #444;
@markitup-icon-bg: #181818;
@markitup-icon-bg-hover: #333;
@markitup-icon-border-hover: #444;
@markitup-separator-bg: #555;
@markitup-separator-color: lighten( @markitup-container-bg, 3.5%);
@markitup-editor-bg: #333;
@markitup-editor-border: @markitup-container-border;
