@font_size      : 13px;
@link_color     : #46bd7d;
@avatar_size    : 30px;

// TYPOGRAPHY



@font-family-sans-serif:  'Source Sans Pro',  'Helvetica Neue', Helvetica, Arial, sans-serif;
// @font-family-second:      'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-size-base:          @font_size ; 
@font-size-small:         11px;
@font-size-large:         @font-size-base + 2;
@line-height-base:        1.7; // 20/14
// @text-color:			  @grey-700;
@link-color:              @link_color;
@icon-font-path:          "../bootstrap/fonts/";

@grid-gutter-width:       30px;