div#fd.es.view-registration .control-label {
  font-size: 12px;
}
div#fd.es.view-registration.layout-activation .es-complete-wrap,
div#fd.es.view-registration.layout-completeOauth .es-complete-wrap,
div#fd.es.view-registration.layout-completed .es-complete-wrap {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}
div#fd.es.view-registration.layout-activation .es-complete-wrap .h4,
div#fd.es.view-registration.layout-completeOauth .es-complete-wrap .h4,
div#fd.es.view-registration.layout-completed .es-complete-wrap .h4 {
  font-size: 20px;
  margin: 20px 0;
}
div#fd.es.view-registration.layout-activation .es-complete-wrap .es-avatar,
div#fd.es.view-registration.layout-completeOauth .es-complete-wrap .es-avatar,
div#fd.es.view-registration.layout-completed .es-complete-wrap .es-avatar {
  margin: 0 auto;
}
div#fd.es.view-registration.layout-activation .es-complete-wrap .es-login-form,
div#fd.es.view-registration.layout-completeOauth .es-complete-wrap .es-login-form,
div#fd.es.view-registration.layout-completed .es-complete-wrap .es-login-form {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  border: 1px solid #d7d7d7;
  padding: 20px 15px;
  border-radius: 3px;
  text-align: left;
}
div#fd.es.view-registration.layout-activation .es-complete-wrap .es-login-form input[type="text"],
div#fd.es.view-registration.layout-activation .es-complete-wrap .es-login-form input[type="password"],
div#fd.es.view-registration.layout-completeOauth .es-complete-wrap .es-login-form input[type="text"],
div#fd.es.view-registration.layout-completeOauth .es-complete-wrap .es-login-form input[type="password"],
div#fd.es.view-registration.layout-completed .es-complete-wrap .es-login-form input[type="text"],
div#fd.es.view-registration.layout-completed .es-complete-wrap .es-login-form input[type="password"] {
  height: 40px;
}
div#fd.es.view-registration .profile-selected {
  padding: 10px;
  border: 1px solid #d7d7d7;
  color: #666;
  background: #f2f2f2;
  margin-bottom: 15px;
}
div#fd.es.view-registration .list-profiles {
  margin: 0 auto;
}
div#fd.es.view-registration .list-profiles > li {
  margin-bottom: 15px;
}
div#fd.es.view-registration .list-profiles .list-profile {
  display: block;
  border: 1px solid #cccccc;
  color: #595959;
  border-radius: 3px;
}
div#fd.es.view-registration .list-profiles .list-profile:before,
div#fd.es.view-registration .list-profiles .list-profile:after {
  content: " ";
  display: table;
}
div#fd.es.view-registration .list-profiles .list-profile:after {
  clear: both;
}
div#fd.es.view-registration .list-profiles .list-profile .media-object {
  margin-right: 20px;
}
div#fd.es.view-registration .list-profiles .list-profile .modal-footer {
  padding: 8px 15px 10px;
  border-top: 1px solid #d7d7d7;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
div#fd.es.view-registration .list-profiles .profile-members {
  margin-top: 30px;
}
div#fd.es.view-registration .list-profiles .list-profile-description {
  font-size: 12px;
}
div#fd.es.view-registration .list-profiles .list-profile-title {
  margin-top: 0;
}
div#fd.es.view-registration .list-profiles .btn-list-profile {
  clear: both;
}
div#fd.es.view-registration .form-horizontal .controls {
  margin-right: 40px;
}
div#fd.es.view-registration .form-horizontal .form-actions {
  padding-left: 20px;
  clear: both;
}
div#fd.es .es-complete-action [class^="ies-"],
div#fd.es .es-complete-action [class*=" ies-"] {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
div#fd.es .es-complete-action [class^="ies-"]:before,
div#fd.es .es-complete-action [class*=" ies-"]:before {
  font-size: 40px;
}
div#fd.es .es-complete-link {
  border: 1px solid #d7d7d7;
  color: #999999;
  display: block;
  padding: 20px;
  border-radius: 3px;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}
div#fd.es .es-complete-link:hover {
  color: #fff;
  background: #555;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}
div#fd.es .es-terms-field {
  height: 200px;
  border: 1px solid #d7d7d7 !important;
  color: #666 !important;
  background: #f2f2f2 !important;
  padding: 5px;
  overflow: auto;
  margin-bottom: 5px;
}
div#fd.es.w480 #registrationForm .control-label {
  width: 100%;
  text-align: left;
  font-weight: bold;
}
div#fd.es.w480 #registrationForm .controls {
  width: 100%;
  margin: 0;
  clear: both;
}
div#fd.es.w480 #registrationForm [data-registration-fields-item] {
  padding-top: 10px;
}
