/*------------------------------------*\
	$pagination - pagination.less
\*------------------------------------*/
.pagination-es,
.pagination { //@ apply with .pagination
	// margin: 0;
	padding: 10px 0;
	margin: 20px 0;
	border: none;
	ul {
		> li {
			margin: 0;
			padding: 0;
			> a,
			> span {
				margin: 0;
				border-radius: 0;
				color: @paginationColor;
			}
		}
	}
}
