<li data-album-list-item class="">
	<a href="javascript: void(0);"><i data-album-list-item-cover></i> <span data-album-list-item-title><?php echo JText::_('COM_EASYSOCIAL_ALBUMS_NEW_ALBUM'); ?></span> <b data-album-list-item-count>0</b></a>
</li>