@datetimepicker-bg: @esBackground;
@datetimepicker-border: #111;

@datetimepicker-arrow: #222;

@datetimepicker-td-active-color: #fff;
@datetimepicker-td-active-bg: #428bca;

@datetimepicker-hover-bg: @gray-light;
