@markitup-container-bg: #f4f4f4;
@markitup-container-border: #d7d7d7;
@markitup-icon-bg: @markitup-container-bg;
@markitup-icon-bg-hover: #fff;
@markitup-icon-border-hover: #d7d7d7;
@markitup-separator-bg: #e5e5e5;
@markitup-separator-color: darken( @markitup-container-bg, 3.5%);
@markitup-editor-bg: #fff;
@markitup-editor-border: @markitup-container-border;
