// Media
@esMediaGroupBackground: darken(@esBackground, 1.8%); //fafafa
@esMediaGroupColor: #aaa;
@esMediaHeaderBorder: @esBorder;
@esMediaStatsBorder: darken(@esBackground, 20%); ; //ccc
@esMediaArrowBackground: @esBackground;
@esMediaArrowBorder: rgba(0, 0, 0, 0.2);

// media/browser
@esBrowserLoadingBackground: #f8f8f8;
@esBrowserNavIconBackground: #ccc;
@esBrowserNavStatBackground: #eee;
@esBrowserNavStatBorder: #ddd;
@esBrowserNavStatColor: #666;
@esBrowserBorder: @esBorder;
@esBrowserBtnColor: darken(@esBackground, 66.8%); //555
@esBrowserBtnTextShadow: @esBackground;
@esBrowserBtnPrimaryColor: @esBackground;
@esBrowserHintColor: #999;
