/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a {
	background-image:url(@{foundry_uri}/markitup/sets/html/images/bold.png);
}
.markItUp .markItUpButton2 a {
	background-image:url(@{foundry_uri}/markitup/sets/html/images/italic.png);
}
.markItUp .markItUpButton3 a {
	background-image:url(@{foundry_uri}/markitup/sets/html/images/stroke.png);
}

.markItUp .markItUpButton4 a {
	background-image:url(@{foundry_uri}/markitup/sets/html/images/list-bullet.png); 
}
.markItUp .markItUpButton5 a {
	background-image:url(@{foundry_uri}/markitup/sets/html/images/list-numeric.png);
}

.markItUp .markItUpButton6 a {
	background-image:url(@{foundry_uri}/markitup/sets/html/images/picture.png); 
}
.markItUp .markItUpButton7 a {
	background-image:url(@{foundry_uri}/markitup/sets/html/images/link.png);
}

.markItUp .markItUpButton8 a {
	background-image:url(@{foundry_uri}/markitup/sets/html/images/clean.png);
}
.markItUp .preview a {
	background-image:url(@{foundry_uri}/markitup/sets/html/images/preview.png);
}
