/*------------------------------------*\
    $badges.less
\*------------------------------------*/

div.discovery-log{
	max-height: 250px;
	overflow-y: scroll;
	overflow-x: auto;
	margin-bottom: 10px;
}