/*------------------------------------*\
    $filterbar.less
\*------------------------------------*/

.filter-bar
{
	padding: 8px;

	.input-group
	{
		.form-control
		{
			width: 100%;
		}
	}
	.form-control
	{
		display: inline-block;
		width: auto;
	}
}