@linkColor: 			#5b91cd; //lightblue
@activeBackground: #f4feff; //lightblue
@panelHeaderBackground: #eceff4; //lightblue

//sidebar
@sideBackgroundHightlight: #e4eaf0;
@sideBackground: #d8dfe7;
@sideActiveBackgroundHightlight: #879bb3;
@sideActiveBackground: #6b7d93;
@sideSubBackground: #f0f3f8;
@esBorder: #BFCAD2;
@alertBackground: #fffdf0; //lightyellow
@alertBorder: #e6e1b7;
