<?php
/**
* @package 		EasySocial
* @copyright	Copyright (C) 2010 - 2014 Stack Ideas Sdn Bhd. All rights reserved.
* @license 		Proprietary Use License http://stackideas.com/licensing.html
* @author 		Stack Ideas Sdn Bhd
*/
defined( '_JEXEC' ) or die( 'Unauthorized Access' );
?>
<div class="es modal es-dialog" id="fd">
	<div class="dialog-wrap">
		<div class="in">
			<div class="dialog-loader"><div class="loader-img"></div></div>
			<div class="dialog-head modal-header">
				<button class="close dialog-closeButton" type="button">
					<i class="fa fa-remove"></i>
				</button>
				<span class="dialog-title"></span>
			</div>

			<div class="dialog-body dialog-content modal-body">
			</div>

			<div class="dialog-footer modal-footer">
				<div class="dialog-loading"></div>
				<div class="dialog-buttons"></div>
			</div>
		</div>
	</div>
</div>
