@datetimepicker-color: @gray-dark; // #333
@datetimepicker-bg: #fff;
@datetimepicker-border: #ccc;

@datetimepicker-arrow: #fff;

@datetimepicker-td-active-color: #fff;
@datetimepicker-td-active-bg: #428bca; // btn primary

@datetimepicker-hover-bg: @gray-lighter;
