/*= TYPOGRAPHY
----------------------------------------------------------------------- */

@font-family-sans-serif:  'Roboto', Helvetica, Arial, sans-serif;
@font-size-base:          13px;
@text-color:			  #555;
@icon-font-path:          "../bootstrap/fonts/";



/*= TYPOGRAPHY
----------------------------------------------------------------------- */

@border-radius-base:        3px;
@border-radius-large:       3px;
@border-radius-small:       2px;



/*= GRIDS
----------------------------------------------------------------------- */

@grid-gutter-width:        16px;



/*= PADDINGS
----------------------------------------------------------------------- */

@padding-base-vertical:     8px;
@padding-base-horizontal:   12px;

@padding-large-vertical:    10px;
@padding-large-horizontal:  14px;

@padding-small-vertical:    4px;
@padding-small-horizontal:  8px;

@padding-xs-vertical:       2px;
@padding-xs-horizontal:     5px;

@border-radius-base:        3px;
@border-radius-large:       4px;
@border-radius-small:       2px;