<div class="es-events-guest-state-dropdown">
    <div class="es-popbox-info">
        <div class="mb-10">
            <?php echo JText::_('COM_EASYSOCIAL_EVENTS_CONFIRM_YOUR_RESPOND'); ?>:
        </div>

        <div data-respond-state data-respond-going class="es-guest-state-respond-state es-guest-state-respond-going alert alert-success">
            <?php echo JText::_('COM_EASYSOCIAL_EVENTS_CONFIRM_RESPOND_GOING'); ?>
        </div>

        <div data-respond-state data-respond-maybe class="es-guest-state-respond-state es-guest-state-respond-maybe alert alert-info">
            <?php echo JText::_('COM_EASYSOCIAL_EVENTS_CONFIRM_RESPOND_MAYBE'); ?>
        </div>

        <div data-respond-state data-respond-notgoing class="es-guest-state-respond-state es-guest-state-respond-notgoing alert alert-danger">
            <?php echo JText::_('COM_EASYSOCIAL_EVENTS_CONFIRM_RESPOND_NOTGOING'); ?>
        </div>
    </div>

    <div class="es-popbox-actions center">
        <a href="javascript:void(0);" class="btn btn-success center" data-action data-action-yes data-action-state="">
            <i class="fa fa-check"></i>
            <br />
            <?php echo JText::_('COM_EASYSOCIAL_YES_BUTTON'); ?>
        </a>
        <a href="javascript:void(0);" class="btn btn-danger center" data-action data-action-no data-action-state="cancel">
            <i class="fa fa-remove"></i>
            <br />
            <?php echo JText::_('COM_EASYSOCIAL_NO_BUTTON'); ?>
        </a>
    </div>
</div>
