@textboxlistAutocompleteColor: #666;
@textboxlistAutocompleteBackground: #fff;
@textboxlistAutocompleteDisabledBackground: #eee;

@textboxlistAutocompleteItemBackground: #E7EDF3;
@textboxlistAutocompleteItemBorder: #C6D5E6;
@textboxlistAutocompleteItemColor: #729BCD;

@textboxlistAutocompleteItemListBackground: #e9fee7;
@textboxlistAutocompleteItemListBorder: #98D895;
@textboxlistAutocompleteItemListColor: #4EA64A;

@textboxlistAutocompleteItemRemoveColor: #729BCD;

@textboxlistAutocompleteActiveBackground: #E7EDF3;
@textboxlistAutocompleteBorder: #aaa;
@textboxlistAutocompleteMaxHeight: 160px;
@textboxlistAutocompleteStickyShadow: 0 0 5px 0 #000000;
@textboxlistAutocompleteMenuShadow: 0 3px 2px rgba(0,0,0,.15);

@textboxlistAutocompleteEmptyColor: #888;

@textboxlistAutocompleteMenuItemBorder: #ddd;
@textboxlistAutocompleteMenuListUserBorder: #bbb;

@textboxlistRemoveBtnWidth: 24px;
@textboxlistItemHeight: 26px;
@textboxlistItemGap: 2px;
@textboxlistItemFontSize: 12px;
