/*------------------------------------*\
	$custom.less
\*------------------------------------*/
//specific hack for TEMPLATE

/*= Joomla 3.* admin template hack
================================================== */



// Toolbar icons for Joomla 3.0
.icon-addusers:before,
.icon-switchprofile:before,
.icon-assignbadge:before,
.icon-assignpoints:before{
	content: "\2a";
}
.icon-export:before {
	content: "\e00b";
}
.icon-import:before {
	content: "\e022";
}
body.com_easysocial {
	// #1471
	.btn-wrapper {
		display: inline-block;
	}

	.btn-wrapper + .btn-wrapper {
	margin-left: 5px;
	}

    // Joomla 3.4 #3907
    .subhead-collapse {
        margin-bottom: 0;
    }

}
body.com_easysocial .container-main {
	padding: 0;
}

body.com_easysocial .subhead {
	margin-bottom: 0;
}

body.com_easysocial .system-message-container{
	display: none;
}
//j3.0 wrapper
body.com_easysocial .container-main div#fd.es {

	.profile-fields {
		.profile-field-browser {
			&.es-browser-affix {
				position: fixed;
				top: 80px;
				left: 770px;
			}
		}
	}
}

/*= Joomla 2.5 admin template hack
================================================== */
/*joomla 2.5 template*/
body #element-box div#fd {
    fieldset label,
    fieldset span.faux-label,
    fieldset input,
    fieldset textarea,
    fieldset select,
    fieldset img,
    fieldset button {
        float: none;
    }
}
body #element-box div#fd input[type="radio"],
body #element-box div#fd input[type="checkbox"] {
    float: none;
}
body #element-box div#fd label.control-label {
    float: left;
}
// Toolbar icons specific for Joomla 2.5
.icon-32-import {
	background-image:url(@{admin_uri}../images/icons/toolbar/icon-32-import.png);
}
.icon-32-addusers {
	background-image:url(@{admin_uri}../images/icons/toolbar/icon-32-addusers.png);
}
.icon-32-switchprofile,
.icon-32-vcard {
	background-image:url(@{admin_uri}../images/icons/toolbar/icon-32-switchprofile.png);
}
.icon-32-assignbadge {
	background-image:url(@{admin_uri}../images/icons/toolbar/icon-32-assignbadge.png);
}
.icon-32-assignpoints {
	background-image:url(@{admin_uri}../images/icons/toolbar/icon-32-assignpoints.png);
}
.icon-32-envelope {
    background-image:url(@{admin_uri}../images/icons/toolbar/icon-32-envelope.png);
}
.icon-32-folder {
    background-image:url(@{admin_uri}../images/icons/toolbar/icon-32-folder.png);
}
#content-box{overflow:hidden;}
// #content-box *{font-family:'Lucida Grande',Tahoma,Arial,sans-serif;font-size:12px}
#content-box .small{color:#999;line-height: 16px}
#content-box .padding{padding:0 !important}
div#element-box,
div#toolbar-box{margin:0 !important;padding:0 !important}
div#toolbar-box div.header{background-position:0 center;font-family:Arial;font-size:26px;line-height:54px;color:#333}
div#toolbar-box div.t,
div#toolbar-box div.b,
div#element-box div.t,
div#element-box div.b,
div#submenu-box div.t,
div#submenu-box div.b{display:none}
div#element-box div.m,
div#toolbar-box div.m,
div#element-box div.current{border:0;}
div#element-box div.m{padding:0 !important;position: relative !important}
div#element-box div.current{padding:10px 0 0;border:0}
div#content-box div#toolbar-box div.m{border-bottom:1px solid #ccc;padding:10px;margin:0;background:#fff;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;height:54px;}
div#submenu-box{margin:0}
div#submenu-box div.m{background:none;border:0;padding:0;}
div#submenu-box{background:#f5f5f5;padding:0 !important;margin:0 0 15px;border:0;border-bottom:1px solid #ccc}
div#submenu-box div#submenu-box{border-bottom:0;margin:0 0 0;}
div#element-box,
div#element-box div.m{background-color:#fff!important}
#fd.es .pagination div.limit .selector {margin-left:5px;}
#fd.es .pagination div.limit select#limit {width:100%}


#content-box .submenu-box{border:0;padding:0}
div.pagetitle{height:48px;background-position:0 center;display:inline-block;margin-left:10px;padding-left:60px;line-height:54px;height:54px}
div.pagetitle h2{position:relative;top:auto;display:inline-block;line-height:48px;line-height:54px;height:54px;font-size:26px;font-family:Arial;font-weight:700;color:#333;position:relative;top:0}
body div.toolbar-list{margin-right:10px !important}
body div#toolbar-box div.m{padding:5px 0;height:54px}
/*JOOMLA 1.7*/
#content-box div.pagetitle{line-height:54px;height:54px}
#content-box div.pagetitle h2{line-height:54px;height:54px;font-size:26px;font-family:Arial;font-weight:700;color:#333;position:relative;top:0}

body div.toolbar-list a{border-color:#fff}
body div.toolbar-list li.divider{border-color:#ddd}

div#element-box .es-main input,
div#element-box .es-mann .input,
div#element-box .es-main .inputbox{
	// font-family:Tahoma;
	// font-size:11px;
	background:#fff;
	display:inline-block;
	float:none;
	min-height:18px;
}

body .pagetitle.icon-48-easysocial{
	background: url( '../images/icons/32/logo.png' ) no-repeat 0 center;
	margin-left: 10px;
	padding: 0;

	h2{
		padding-left: 45px;
	}
}

/* ROCKETTHEME'S MISSION CONTROL hack */
#mc-frame *{font-size:11px}
#mc-frame h1{font-size:32px}
#mc-frame div#content-box div#toolbar-box div.m{background:none;border:0;padding:0;height:auto!important;}
#mc-frame #mc-component{margin-top:0;overflow:visible;padding:1px;}
#mc-frame #mc-component .mc-form-frame{border-top:0;border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;-webkit-border-radius:0 0 6px 6px}
#mc-frame .nav-tabs > li {padding:0 }

#mc-frame .mc-wrapper #content-box {
	overflow: visible;
}

body #fd.es .footer-pagination {
	display: block;
	margin:0 auto;
	text-align: center;
	width: auto;
	.container {
		width: auto;
		display: inline-block;
		margin: 6px auto;
		// background: #333;
		div.limit select#limit {
			width: 70px;
			margin-bottom: 0;
			margin-left: 2px;
		}
	}

}

// Enforce tooltip z-index #2726
body #tooltip {
	z-index: 999999;
}


div#fd .row-sm {
    margin-left: -10px;
    margin-right: -10px;

    > div {
        padding-left: 10px;
        padding-right: 10px;
    }
}