/*------------------------------------*\
    $elements.less
\*------------------------------------*/
// min-height: 850px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
background: #f8f8f8;
font-size:12px;
line-height: 18px;

p {
	font-size: 12px;
	line-height: 18px;
}
table {
	border-collapse:collapse;
}
hr {
	clear: both;
}
.dropdown {
	> a {
		.no-focus-outline();
	}
}


.panel-title {
	font-size: 16px;
	line-height: 26px;
	font-weight: normal;
	margin: 0 0 0px;
	padding: 0;
	color:@titleColor;

}

.privacy-custom-menu {
	position: absolute;
	padding: 10px;

	// Set a minimum width for the custom menu
	min-width: 350px;
}

.priority-1 {
	color: @priority1;
}
.priority-2 {
	color: @priority2;
}
.priority-3 {
	color: @priority3;
}
.priority-4 {
	color: @priority4;
}



/* = FILTER BAR
--------------------------------------------------------------- */

.filter-bar 
{
	padding: 10px;

	.form-group 
	{
		display: inline-block;
		.clearfix();

		+.form-group 
		{
			margin-left: 20px;
		}

		> strong,
		> div
		{
			float: left;
		}

		> strong
		{
			color: #888;
			display: inline-block;
			vertical-align: middle;
			line-height: 30px;
			margin-right: 5px;
		}

		.input-group 
		{
			max-width: 320px;
		}
	}
}

&.es-window 
{
	.app-filter,
	.app-table {
		margin: 0;
	}

	.form-group {
		margin: 0;
	}

	.panel-table {
		margin: 0 1px;
		background: #fff;
	}
}
