@titleColor: 			#626d7f;

// Priority
// -------------------------
@priority1: 				#2aacd2;
@priority2: 				#51a351;
@priority3: 				#FBB450;
@priority4: 				#EE5F5B;

// FRESH

@app-gutter-width:              24px;
@app-border-color:           #cfcfcf;
@app-text-light:                #999;
@app-radius-base:                3px;
@app-breakpoint:                900px;