<?php
/**
* @package		EasySocial
* @copyright	Copyright (C) 2010 - 2014 Stack Ideas Sdn Bhd. All rights reserved.
* @license		GNU/GPL, see LICENSE.php
* EasySocial is free software. This version may have been modified pursuant
* to the GNU General Public License, and as distributed it includes or
* is derivative of works licensed under the GNU General Public License or
* other free or open source software licenses.
* See COPYRIGHT.php for copyright notices and details.
*/
defined( '_JEXEC' ) or die( 'Unauthorized Access' );
?>
<div class="form-item" data-tasks-form>
	<div class="row">
		<div class="col-sm-12">
			<div class="input-group">
				<input type="text" class="input-sm form-control" value="" placeholder="<?php echo JText::_( 'APP_USER_TASKS_PLACEHOLDER' , true );?>" data-tasks-form-title />

				<span class="input-group-btn">
					<a href="javascript:void(0);" class="btn btn-es btn-sm" data-tasks-form-save>
						<i class="fa fa-check"></i>
					</a>

					<a href="javascript:void(0);" class="btn btn-es-danger btn-sm" data-tasks-form-cancel>
						<i class="fa fa-remove"></i>
					</a>
				</span>
			</div>
		</div>
	</div>
</div>
