<?php
/**
* @package      EasySocial
* @copyright    Copyright (C) 2010 - 2014 Stack Ideas Sdn Bhd. All rights reserved.
* @license      GNU/GPL, see LICENSE.php
* EasySocial is free software. This version may have been modified pursuant
* to the GNU General Public License, and as distributed it includes or
* is derivative of works licensed under the GNU General Public License or
* other free or open source software licenses.
* See COPYRIGHT.php for copyright notices and details.
*/
defined( '_JEXEC' ) or die( 'Unauthorized Access' );
?>
<div id="[%== file.id %]" data-files-upload-item class="es-story-files-progress">
    <table>
        <tr class="upload-status">
            <td>
                <div class="upload-progress progress progress-striped active">
                    <div class="upload-progress-bar bar progress-bar-info" style="width: 0%"><span class="upload-percentage"></span></div>
                </div>

                <div class="upload-remove-button"><i class="fa fa-remove"></i></div>
            </td>
        </tr>
    </table>
</div>
