// Blocks
@esFilterActiveBackground: #f5f5f5;
@esFilterActiveColor: #555;


// Remind
@esRemindBorder: #EFF0F4;
@esRemindBackground: #F8F9FB;

// Online Status
@esOnlineStatusBorder: #fff;
@esOnlineStatusOnBackground: #91c73c;
@esOnlineStatusOffBackground: #f38282;

// Comment
@esCommentColor: @esColor;
@esCommentBackground: darken(@esBackground, 4%);
@esCommentBorder: @esBorder;
@esCommentActionBackground: #fff;
@esCommentActionColor: @esColor;
@esCommentActionBorder: @esBorder;
@esCommentTextareaBackground: @esBackground;
@esCommentTextareaBorder: @esBorder;
@esCommentLoadBackground: darken(@esBackground, 3%); //f8f8f8
@esCommentLikeCountBackground: @esCommentTextareaBackground;
@esCommentLikeCountBorder: @esCommentBorder;

// Widget
@esWidgetDividerColor: @esBorder; //e1e1e1
@esWidgetBorder: @esBorder;
@esWidgetNavActiveBackground: darken(@esBackground, 2.5%);
@esWidgetNavErrorBackground: #ffb2bc;
@esWidgetNavErrorColor: #fff;
@esWidgetNavErrorBorder: #E27A93;
@esWidgetFilterItemDefaultColor: #6AA8DC;
@esWidgetTotalnoColor: @grayLight;
@esWidgetSearchBackground: #f5f5f5;


// Badges
@esBadgesWrapperBackground: url("@{site_base_uri}/../images/points-wrapper-bg.png") no-repeat bottom center;
@esBadgesBackground: darken(@esBackground, 2%); //fafafa
@esBadgesBorder: @esBorder;
@esBadgesFootBackground: darken(@esBadgesBackground, 4%); //888
@esBadgesFootBorder: darken(@esBorder, -1%);
@esBadgesFootBoxShadow: inset 0 1px 0 darken(@esBadgesFootBorder, -5%);

@esAchievementDateColor: @esColor;

// Points
@esPointsWrapperBackground: url("@{site_base_uri}/../images/points-wrapper-bg.png") no-repeat bottom center;
@esPointsEmptyBackground: #f5f5f5;
@esPointsEmptyBoderColor: #eee;

@esPointBackground: #fafafa;
@esPointBorder: @esBorder;
@esPointFootBackground: #898d90;
@esPointFootBorder: darken(@esBorder, 50%);
@esPointFootBoxShadow: inset 0 1px 0 rgba(180,180,180,.9);
@esPointResultBorder: #ccc;
@esPointResultTextShadow: inset 0 1px 0 rgba(255,255,255,.1);

@esPointResultBackgroundHighlight: #fde092;
@esPointResultBackground: #f4b92d;
@esPointResultBorder: #c1af65;

@esPointResultGreenBackgroundHighlight: #9EDD3C;
@esPointResultGreenBackground: #92BE4F;
@esPointResultGreenBorder: #93BD51;

@esPointResultRedBackgroundHighlight: #FAB290;
@esPointResultRedBackground: #E27F4F;
@esPointResultRedBorder: #DA8E6A;


// Conversation
@esConversationBackground: darken(@esBackground, 1.8%);
@esConversationBorder: @esBorder;
@esConversationUnreadBackground: darken(@esBackground, 4%); //f5f5f5
@esConversationSelectedBackground: @esSelectedBackground;
@esConversationTimeColor: darken(@esBackground, 20%); //ccc
@esConversationTimestampColor: darken(@esConversationTimeColor, 50%);
@esConversationAttachmentPreviewBackground: @esBackground;
@esConversationAttachmentPreviewBorder: darken(@esConversationAttachmentPreviewBackground, 4%);
@esConversationBubbleRightBackground: #EEF7FC;
@esConversationBubbleLeftBackground: #fafafa;





// Points History
@esPointsHistoryBackground: @esBackground;
@esPointsHistoryColor: @esColor;
@esPointsHistoryBorder: @esBorder;
@esPointsHistoryTimeline: @esBorder;


// Header
@esHeaderBorder: @esBorder;
@esHeaderMiniBackground: #f5f5f5;
@esHeaderBoxShadow: #fff;

@esHeaderContentBtnBackground: #fff;
@esHeaderFooterBackground: @esBackground;
@esHeaderFooterBorder: #eee;

@esHeaderBtnScrollBackground: #f5f5f5;
@esHeaderBtnScrollColor: #aaa;

// Mini Header
@esHeaderMiniCoverBackground: rgba(255, 255, 255, 0);
@esHeaderMiniCoverHighlight: rgba(255, 255, 255, 1);

// Widget
@esWidgetDatetimepickerActiveBackground: #f5f5f5;
