<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidlibrary">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application android:allowBackup="true">
        <activity
            android:name=".core.SeparateDeveloperActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".core.StubFragmentActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".module.PermissionsActivity" />
    </application>


</manifest>
