.fss_main
{
	ul > li {
		overflow-x: inherit;
		overflow-y: inherit;
	}
	ul > li:before {
		display: none !important;
	}

	ul.dropdown-menu > li.dropdown-header {
		padding-left: 6px !important;
	}

	ul.dropdown-menu > li {
		padding-left: 0 !important;
		margin-top: 0;
	}

	ul.nav-tabs > li {
		padding-left: 0 !important;
	}

	a:hover {
		text-decoration: inherit !important;
	}

	.btn {
		color: #333 !important;
	}

	.btn-primary {
	  color: #fff !important;
	}

	.btn-warning {
	  color: #fff !important;
	}

	.btn-danger {
	  color: #fff !important;
	}

	.btn-success {
	  color: #fff !important;
	}

	.btn-info {
	  color: #fff !important;
	}

	.btn-inverse {
	  color: #fff !important;
	}

    div.input-append, div.input-prepend {
        .btn {
            padding-top: 2px !important;
            padding-bottom: 2px !important;
        }
    }

    .label {
	  color: #fff !important;
    }
}

div.tooltip.fade.in {
    background: none;
    border: none;
}