.fss_main
{
	#allprods0, #allprods1
	{
		margin-left: 20px;
	}

	#allprods0-lbl, #allprods1-lbl
	{
		display: inline-block;
		position: relative;
		top: 4px;
	}

    .table-borderless {
        border: none;
        tr, td {
            border: none;
        }
    }

    .dropdown-menu > li > a {
            text-decoration: none;
    }

    .dropdown-menu .divider {
        margin: 4px 1px !important;
    }
}

.side_header {
  margin-left: 10px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.side_header:after {
  content: " :-";
}