div#fd.es .row-table {
  display: table;
  width: 100%;
}
div#fd.es .col-cell {
  display: table-cell;
  vertical-align: middle;
}
div#fd.es .cell-top > .col-cell {
  vertical-align: top;
}
div#fd.es .cell-tight {
  width: 1%;
}
div#fd.es .app {
  background: #f0f0f0;
  display: table;
  line-height: 1.6;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
div#fd.es .app-sidebar {
  background: #fff;
  display: table-cell;
  width: 250px;
  border-right: 1px solid #cfcfcf;
  padding: 14px 24px 60px;
}
@media (max-width: 1280px) {
  div#fd.es .app-sidebar {
    width: 205px;
  }
}
div#fd.es .app-devmode {
  background: #fcf8e3;
  color: #8a6d3b;
  border-radius: 0;
  border-bottom: 1px solid #cfcfcf;
  margin: 0;
  padding: 15px 24px;
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.05);
  box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
div#fd.es .app-devmode .btn {
  background: #E53935;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  text-shadow: none;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}
div#fd.es .app-content {
  display: table-cell;
  padding-bottom: 60px;
}
div#fd.es .app-content > .alert {
  border-bottom: 1px solid #ccc;
  margin: 0;
  border-radius: 0;
  border-width: 1px 0;
  overflow: hidden;
  padding: 15px 24px;
  position: relative;
}
div#fd.es .app-content > .alert:before {
  display: none;
}
div#fd.es .app-content > .alert .close {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -10px;
  padding: 0;
  text-align: center;
}
div#fd.es .app-content > .alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
div#fd.es .app,
div#fd.es .app-sidebar,
div#fd.es .app-content {
  vertical-align: top;
  position: relative;
}
div#fd.es .app-head {
  background: #fff;
  border-bottom: 1px solid #cfcfcf;
  padding: 24px;
  position: relative;
}
div#fd.es .app-body {
  padding: 24px;
}
div#fd.es .app-body .wrapper.accordion {
  margin: -24px;
}
div#fd.es .app-head h2 {
  margin: 0;
  font-size: 20px;
  line-height: 1;
}
div#fd.es .app-head h2 + p {
  margin: 10px 0 0;
  line-height: 1.5;
}
div#fd.es .app-mobile-nav {
  display: none;
}
div#fd.es .app-tabs {
  background: #fff;
  border-bottom: 1px solid #cfcfcf;
  display: block;
  margin: -24px -24px 24px;
  padding: 12px 24px;
  overflow: hidden;
}
div#fd.es ul.app-tabs-list > li {
  float: left;
  margin: 0 12px 0 0;
}
div#fd.es ul.app-tabs-list > li > a {
  background: #d7d7d7;
  border-radius: 3px;
  color: #555;
  display: block;
  padding: 0 10px;
  line-height: 30px;
}
div#fd.es ul.app-tabs-list > li > a .fa {
  font-size: 14px;
  opacity: .5;
  filter: alpha(opacity=50);
  margin: 0 5px 0 0;
  line-height: inherit;
  vertical-align: middle;
}
div#fd.es ul.app-tabs-list > li > a:hover {
  background: #e3e3e3;
}
div#fd.es ul.app-tabs-list > li.active > a {
  background: #5bc0de;
  color: #fff;
}
div#fd.es div.app-filter {
  background: #fff;
  border: 0;
  border-bottom: 1px solid #cfcfcf;
  margin: -24px -24px 24px;
  padding: 12px 24px;
}
div#fd.es .app-table {
  border-collapse: collapse;
  border-radius: 3px;
  clear: both;
}
div#fd.es .app-table > thead > tr > td,
div#fd.es .app-table > thead > tr > th {
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #cfcfcf;
  padding-top: 10px;
  padding-bottom: 10px;
}
div#fd.es .app-table > tbody > tr > td,
div#fd.es .app-table > tbody > tr > th {
  border-bottom: 1px solid #cfcfcf;
  padding-top: 10px;
  padding-bottom: 10px;
}
div#fd.es .app-table > thead > tr > th:first-child,
div#fd.es .app-table > thead > tr > td:first-child,
div#fd.es .app-table > tbody > tr > th:first-child,
div#fd.es .app-table > tbody > tr > td:first-child,
div#fd.es .app-table > tfoot > tr > th:first-child,
div#fd.es .app-table > tfoot > tr > td:first-child {
  padding-left: 24px;
}
div#fd.es .app-table > thead > tr > th:first-child input[type="radio"],
div#fd.es .app-table > thead > tr > th:first-child input[type="checkbox"],
div#fd.es .app-table > thead > tr > td:first-child input[type="radio"],
div#fd.es .app-table > thead > tr > td:first-child input[type="checkbox"],
div#fd.es .app-table > tbody > tr > th:first-child input[type="radio"],
div#fd.es .app-table > tbody > tr > th:first-child input[type="checkbox"],
div#fd.es .app-table > tbody > tr > td:first-child input[type="radio"],
div#fd.es .app-table > tbody > tr > td:first-child input[type="checkbox"],
div#fd.es .app-table > tfoot > tr > th:first-child input[type="radio"],
div#fd.es .app-table > tfoot > tr > th:first-child input[type="checkbox"],
div#fd.es .app-table > tfoot > tr > td:first-child input[type="radio"],
div#fd.es .app-table > tfoot > tr > td:first-child input[type="checkbox"] {
  margin: 0;
}
div#fd.es .app-table > thead > tr > th:last-child,
div#fd.es .app-table > thead > tr > td:last-child,
div#fd.es .app-table > tbody > tr > th:last-child,
div#fd.es .app-table > tbody > tr > td:last-child,
div#fd.es .app-table > tfoot > tr > th:last-child,
div#fd.es .app-table > tfoot > tr > td:last-child {
  padding-right: 24px;
}
div#fd.es .app-table .badge {
  border-radius: 12px;
  width: 32px;
  height: 24px;
  line-height: 24px;
  padding: 0;
  position: relative;
}
div#fd.es .app-table .badge .fa {
  line-height: inherit;
  display: block;
  color: #fff !important;
}
div#fd.es .app-table td.order {
  font-size: 0;
}
div#fd.es .app-table td.order span,
div#fd.es .app-table td.order input {
  display: inline-block;
  vertical-align: middle;
}
div#fd.es .app-table td.order input.order-value {
  border-radius: 12px;
  background: #eee;
  font-size: 12px;
  width: 34px;
  height: 24px;
  line-height: 24px;
  padding: 0;
  margin: 0 10px 0 0;
  text-align: center;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
div#fd.es .app-table td.order span {
  background: #eee;
  border: 1px solid #ccc;
  width: 28px;
  height: 24px;
  line-height: 24px;
  position: relative;
  overflow: hidden;
}
div#fd.es .app-table td.order span + span {
  margin-left: -1px;
}
div#fd.es .app-table td.order span a {
  background: #fff;
  border: 0;
  border-radius: 0;
  display: block;
  line-height: 22px;
  height: 22px;
  padding: 0;
}
div#fd.es .app-table td.order span a i,
div#fd.es .app-table td.order span a i:before,
div#fd.es .app-table td.order span a span,
div#fd.es .app-table td.order span a span:before {
  background: none;
  border: 0;
  font: normal normal normal 14px/1 FontAwesome;
  line-height: 22px;
  height: 22px;
  display: block;
  text-align: center;
  font-size: 10px;
  width: auto;
  margin: 0;
}
div#fd.es .app-table td.order span.order-up {
  border-radius: 12px 0 0 12px;
}
div#fd.es .app-table td.order span.order-up i:before,
div#fd.es .app-table td.order span.order-up span:before {
  content: "\f077";
}
div#fd.es .app-table td.order span.order-down {
  border-radius: 0 12px 12px 0;
}
div#fd.es .app-table td.order span.order-down i:before,
div#fd.es .app-table td.order span.order-down span:before {
  content: "\f078";
}
div#fd.es .app-table-middle > tbody > tr > td {
  vertical-align: middle;
}
div#fd.es .panel {
  background: #fff;
  border: 1px solid #cfcfcf;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 24px;
  border-radius: 3px;
}
div#fd.es .panel .control-label {
  color: #333333;
  text-align: left;
  font-weight: normal;
}
div#fd.es .panel .control-label:after {
  float: right;
  font-weight: bold;
  margin: 0 0 0 5px;
}
div#fd.es .panel-head {
  background: #f9f9f9;
  border-radius: 2px 2px 0 0;
  border-bottom: 1px solid #e9e9e9;
  padding: 16px;
}
div#fd.es .panel-head > b {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
}
div#fd.es .panel-head > b + p {
  color: #999;
  line-height: 1.3;
  margin: 5px 0 0;
  font-size: 12px;
  overflow: hidden;
}
div#fd.es .panel-tabs {
  border-bottom-width: 3px;
  padding: 0 16px;
}
div#fd.es .panel-tabs > .tab-item {
  float: left;
  position: relative;
}
div#fd.es .panel-tabs > .tab-item:after {
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;
}
div#fd.es .panel-tabs > .tab-item > a {
  display: block;
  font-weight: 500;
  padding: 16px;
}
div#fd.es .panel-tabs > .tab-item:hover:after {
  background: #cfcfcf;
}
div#fd.es .panel-tabs > .tab-item.active:after {
  background: #f01;
}
div#fd.es .panel-tabs > .tab-item.active > a {
  color: #333;
}
div#fd.es .panel-body {
  padding: 16px;
}
div#fd.es .panel-body > h3:first-child {
  font-size: 14px;
  background: #f9f9f9;
  border-radius: 2px 2px 0 0;
  border-bottom: 1px solid #e9e9e9;
  padding: 16px;
  margin: -16px -16px 16px;
}
div#fd.es .panel-body > .form-group {
  margin: 0 -5px;
}
div#fd.es .panel-body > .form-group + .form-group {
  margin-top: 20px;
}
div#fd.es .panel-body > .form-group >[class*='col-'],
div#fd.es .panel-body > .form-group >[class*=' col-'] {
  padding-left: 5px;
  padding-right: 5px;
}
div#fd.es .panel-body .form-group > label {
  font-weight: normal;
  font-size: inherit;
  text-align: left;
}
div#fd.es .panel-body .form-group > label .fa-question-circle {
  font-size: 14px;
  margin: 3px 0 0;
  color: #bbb;
}
div#fd.es .panel-body .form-group > label .fa-question-circle:hover {
  color: #666;
}
div#fd.es .panel-body .form-inline > .form-group .input-group {
  max-width: 200px;
}
div#fd.es .panel-table {
  margin: -24px;
}
div#fd.es .panel-table .alert-warning {
  margin: 0;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}
div#fd.es ul.panel-list > li {
  background: none !important;
  padding: 16px !important;
}
div#fd.es ul.panel-list > li + li {
  margin-top: 0;
}
div#fd.es ul.panel-list > li .es-date {
  margin-top: 0;
}
div#fd.es ul.panel-list > li .es-media {
  padding: 0;
}
div#fd.es ul.panel-list > li .es-media-object {
  padding: 0 16px 0 0;
  margin: 0;
}
div#fd.es ul.panel-list > li .es-media-body {
  padding: 0;
}
div#fd.es ul.panel-list > li .es-media-body h5 {
  margin-top: 0;
}
@media (max-width: 900px) {
  div#fd.es .app-sidebar,
  div#fd.es .app-content {
    display: block;
    width: auto;
    border-right: 0;
  }
  div#fd.es .app-sidebar {
    padding: 0;
  }
  div#fd.es .app-sidebar-nav {
    padding: 20px !important;
    border-bottom: 1px solid #cfcfcf;
  }
  div#fd.es .app-sidebar-collapse {
    height: 0;
    overflow: hidden;
  }
  div#fd.es .app-sidebar-collapse.in {
    height: auto;
  }
  div#fd.es .app-mobile-nav {
    display: table;
    width: 100%;
    border-bottom: 1px solid #c7c7c7;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    position: relative;
    z-index: 1;
  }
  div#fd.es .app-mobile-nav > div {
    display: table-cell;
    width: 50%;
  }
  div#fd.es .app-mobile-nav > div + div {
    border-left: 1px solid #dcdcdc;
  }
  div#fd.es .app-mobile-nav > div > a {
    color: #555;
    cursor: pointer;
    display: block;
    font-size: 14px;
    padding: 0 24px;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
  }
  div#fd.es .app-mobile-nav > div .fa {
    margin: 0 5px 0 0;
    opacity: .5;
    filter: alpha(opacity=50);
  }
  div#fd.es ul.app-tabs-list {
    margin: 0 -10px;
  }
  div#fd.es ul.app-tabs-list > li {
    width: 33.33333%;
    padding: 5px 10px;
    margin: 0;
  }
  div#fd.es ul.app-tabs-list > li > a {
    padding: 10px;
  }
}
@media (max-width: 767px) {
  div#fd.es {
    margin: 0 -20px !important;
  }
  div#fd.es ul.app-tabs-list > li {
    width: 50%;
  }
}
div#fd.es .row-xs {
  margin: 0 -5px;
}
div#fd.es .row-xs >[class*='col-'],
div#fd.es .row-xs >[class*=' col-'] {
  padding-left: 5px;
  padding-right: 5px;
}
div#fd.es .input-group-link .form-control:first-child {
  border-radius: 3px;
}
div#fd.es .acl-yes .acl-result-yes,
div#fd.es .acl-no .acl-result-no {
  display: inline-block !important;
  visibility: visible !important;
  vertical-align: middle;
  margin: 0 0 0 10px;
}
div#fd.es .cells-spaced .col-cell + .col-cell {
  padding: 0 0 0 30px;
}
div#fd.es .tab-box.tab-box-alt {
  background: none;
  border: 0;
}
div#fd.es .tab-box.tab-box-alt .nav-tabs {
  background: #fff;
  border-bottom: 1px solid #cfcfcf;
}
div#fd.es .tab-box.tab-box-alt .nav-tabs > li {
  margin: 0 !important;
  border-right: 1px solid #ccc;
  width: auto;
  line-height: 1;
}
div#fd.es .tab-box.tab-box-alt .nav-tabs > li > a {
  border: 0 !important;
  border-radius: 0 !important;
  padding: 0 24px;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  line-height: 50px;
  position: relative;
}
@media (max-width: 1280px) {
  div#fd.es .tab-box.tab-box-alt .nav-tabs > li > a {
    line-height: 40px;
  }
}
@media (max-width: 1280px) {
  div#fd.es .tab-box.tab-box-alt .nav-tabs > li > a {
    padding-right: 12px;
  }
}
div#fd.es .tab-box.tab-box-alt .nav-tabs > li > a:before {
  content: '' !important;
  display: block !important;
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  bottom: -1px !important;
  height: 3px !important;
  width: auto !important;
  background: #4CAF50 !important;
  visibility: hidden;
}
div#fd.es .tab-box.tab-box-alt .nav-tabs > li > a span {
  margin: 0;
}
@media (max-width: 1280px) {
  div#fd.es .tab-box.tab-box-alt .nav-tabs > li + li > a {
    padding-left: 12px;
  }
}
div#fd.es .tab-box.tab-box-alt .nav-tabs > li.active > a:before {
  visibility: visible;
}
div#fd.es .tab-box.tab-box-alt .tab-content {
  background: none;
  border: 0;
  padding: 24px;
}
div#fd.es .tab-box.tab-box-sidenav {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0;
}
div#fd.es .tab-box.tab-box-sidenav .nav-tabs {
  padding: 10px 0;
}
div#fd.es .tab-box.tab-box-sidenav .nav-tabs > li {
  border: 0 !important;
}
div#fd.es .tab-box.tab-box-sidenav .nav-tabs > li + li {
  margin-top: 2px !important;
}
div#fd.es .tab-box.tab-box-sidenav .nav-tabs > li > a {
  display: block;
  text-align: left;
  padding: 0 10px 0 20px !important;
  line-height: 32px;
}
div#fd.es .tab-box.tab-box-sidenav .nav-tabs > li > a:before {
  right: auto !important;
  bottom: 0 !important;
  top: 0 !important;
  height: auto !important;
  width: 5px !important;
}
div#fd.es .tab-box.tab-box-sidenav .nav-tabs > li > a:hover {
  background: #f5f5f5;
}
div#fd.es .tab-box.tab-box-sidenav .nav-tabs > li.active > a {
  background: none !important;
  font-weight: bold;
}
div#fd.es .es-checkbox {
  padding-left: 20px;
}
div#fd.es .es-checkbox label {
  display: block;
  position: relative;
  padding: 0 0 0 5px;
  font-weight: normal;
  font-size: inherit;
  line-height: 16px;
  margin: 0;
}
div#fd.es .es-checkbox label:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
div#fd.es .es-checkbox label:after {
  display: inline-block;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 12px;
  color: #555555;
}
div#fd.es .es-checkbox input[type="checkbox"] {
  display: none;
}
div#fd.es .es-checkbox input[type="checkbox"]:checked + label:after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  content: "\f00c";
}
div#fd.es .es-checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
div#fd.es .o-loader {
  width: 30px;
  height: 30px;
  top: 15px;
  left: 15px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
div#fd.es .o-loader:before,
div#fd.es .o-loader:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 500rem;
  border: 5px solid rgba(0,0,0,0.1);
}
div#fd.es .o-loader.color-white:before {
  border-color: rgba(255,255,255,0.35);
}
div#fd.es .o-loader.color-white:after {
  border-color: rgba(255,255,255,0.35) transparent transparent;
}
div#fd.es .o-loader:after {
  -webkit-animation: loader 0.6s linear;
  animation: loader 0.6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-color: rgba(0,0,0,0.1) transparent transparent;
  box-shadow: 0px 0px 0px 1px transparent;
}
div#fd.es .o-loader.indeterminate:after {
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
}
div#fd.es .o-loader.active,
div#fd.es .o-loader.visible {
  display: block;
}
div#fd.es .o-loader.disabled,
div#fd.es .o-loader.hidden {
  display: none;
}
@-webkit-keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
div#fd.es .app-sidebar-nav {
  overflow: hidden;
}
div#fd.es .app-sidebar-nav > li {
  position: relative;
  clear: both;
  display: block !important;
}
div#fd.es .app-sidebar-nav > li a,
div#fd.es .app-sidebar-nav > li a:focus,
div#fd.es .app-sidebar-nav > li a:hover {
  outline: 0 !important;
  border: 0 !important;
  background: none !important;
}
div#fd.es .app-sidebar-nav > li + li {
  padding-top: 1px;
}
div#fd.es .app-sidebar-nav > li + li:before {
  background: #e9e9e9;
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  position: absolute;
  top: -0.5px;
  left: 29px;
}
div#fd.es .app-sidebar-nav > li > a {
  color: #555;
  display: block;
  line-height: 20px;
  overflow: hidden;
  padding: 7px 0;
  text-decoration: none !important;
  outline: 0;
}
div#fd.es .app-sidebar-nav > li > a > i {
  color: #aaa;
  line-height: inherit;
  margin: 0 10px 0 0;
  text-align: center;
  width: 20px;
  font-size: 14px;
}
div#fd.es .app-sidebar-nav > li > a:hover > i {
  color: inherit;
}
div#fd.es .app-sidebar-nav > li.active > a {
  font-weight: bold;
}
div#fd.es .app-sidebar-nav > li.active > a > i {
  color: #d9534f;
}
div#fd.es .app-sidebar-nav > li.active > .dropdown-menu,
div#fd.es .app-sidebar-nav > li.open > .dropdown-menu {
  display: block !important;
}
div#fd.es .app-sidebar-nav > li > .dropdown-menu {
  display: none !important;
  background: none;
  border: 0;
  list-style: none;
  padding: 0 0 10px 29px;
  margin: 0;
  position: static;
  -webkit-box-shadow: none;
  box-shadow: none;
  min-width: 0;
}
div#fd.es .app-sidebar-nav > li > .dropdown-menu > li > a {
  color: #888;
  font-size: 12px;
  display: inline-block;
  line-height: 20px;
  padding: 0;
}
div#fd.es .app-sidebar-nav > li > .dropdown-menu > li > a:hover {
  background: none;
  color: #428bca;
  text-decoration: none;
}
div#fd.es .app-sidebar-nav > li > .dropdown-menu > li.active > a {
  background: none;
  color: #555;
  font-weight: bold;
}
div#fd.es .app-sidebar-nav > li > .dropdown-menu > li.active > a .fa {
  color: #d9534f;
}
