@import "popbox/variables";

&.popbox.popbox-users {
	min-width: 45px !important;
	max-width: 160px !important;
	min-height: 55px !important;
	background-color: @popboxBackground !important;
	border-radius: 1px;
	padding: 0;
	border: 1px solid @popboxBorder;
	.box-shadow(@popboxBoxShadow);
	
}//popbox
