// Streams
@esStreamBackground: darken(@esBackground, 2%); //right side fafafa
@esStreamSharedBorder: #ccc;
@esStreamBorder: @esBorder;
@esStreamBackground: @esBackground;
@esStreamPreviewBackground: darken(@esBackground, 4%); //f5f5f5
@esStreamCounterBackground: darken(@esBackground, 3%); //f8f8f8

@esRepostWrapBackground: darken(@esBackground, 3%); //f8f8f8

@esStreamControlBackground: @esBackground;
@esStreamControlBorder: @esStreamControlBackground;
@esStreamControlMenuBorder: @esBorder;

@esStreamListEmptyBackground: #F6F9FC;

@esStreamEditorActionsBackground: #f4f4f4;

@esStreamHideNoticeBackground: #f6f9fc;
