<?php
/**
* @package         EasySocial
* @copyright    Copyright (C) 2010 - 2014 Stack Ideas Sdn Bhd. All rights reserved.
* @license         Proprietary Use License http://stackideas.com/licensing.html
* @author         Stack Ideas Sdn Bhd
*/
defined('_JEXEC') or die('Unauthorized Access');
?>
<li>
    <div class="input-group">
        <input type="text" class="input-sm form-control" data-story-tasks-input placeholder="<?php echo JText::_('Add a title for your task...', true); ?>" />
        <span class="input-group-btn">
            <a href="javascript:void(0);" class="btn btn-danger btn-sm" data-story-tasks-remove><i class="fa fa-remove"></i></a>
        </span>
    </div>
</li>
