@chzn-bg: #fff;
@chzn-border: #aaa;
@chzn-box-shadow: rgba(0,0,0,.1);
@chzn-color: #444;

@chzn-choices-bg: #e4e4e4;
@chzn-focus-bg: #d4d4d4;

@chzn-sprite-path: '@{global_uri}/chosen/chosen-sprite.png';


@chzn-active-color: #111;
@chzn-active-bg: #eee;
@chzn-active-border: #5897fb;

@chzn-results-bg: #feffde;
@chzn-no-results-bg: #f4f4f4;
@chzn-results-color: #999;
@chzn-result-highlight-bg: #3875d7;

@chzn-search-box-shadow: 0 0 1px @chzn-bg inset, 0 1px 0 rgba(0,0,0,0.05);
@chzn-active-box-shadow: 0 0 2px rgba(0,0,0,.2);
@chzn-active-drop-box-shadow: 0 1px 0 @chzn-bg inset;
