div#fd.es .search-input-wrap {
  display: table;
  width: 100%;
}
div#fd.es .search-input-wrap .search-input-left,
div#fd.es .search-input-wrap .search-input-right {
  display: table-cell;
  vertical-align: top;
}
div#fd.es .search-input-wrap .input-search {
  margin: 0;
  width: 100%;
  border-radius: 3px 0 0 3px;
}
div#fd.es .es-search-result .es-item-grid .es-item {
  border: none;
  border-bottom: 1px solid #3f3f3f;
  border-radius: 0;
  margin-left: 10px;
}
div#fd.es .es-search-result .item-meta {
  margin-top: 3px;
  color: #aaa;
  font-size: 12px;
}
div#fd.es .es-search-result .search-result-group + .search-result-group {
  margin-top: 30px;
}
div#fd.es .search-blk .search-blk-hd {
  font-weight: bold;
  padding: 10px 16px;
  border-bottom: 1px solid #585858;
}
div#fd.es .search-blk .search-blk-bd .es-avatar {
  margin: 0 5px 0 0;
  display: block;
  overflow: hidden;
  padding: 0;
  float: left;
  width: 16px;
  height: 16px;
}
div#fd.es .search-blk .search-blk-bd .es-avatar img {
  width: 16px;
  height: 16px;
  line-height: 16px;
}
div#fd.es .search-blk .search-result-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
div#fd.es .search-blk .search-result-list a {
  padding: 6px 15px 6px 20px;
  display: block;
}
div#fd.es .search-blk .search-result-list a:before,
div#fd.es .search-blk .search-result-list a:after {
  content: " ";
  display: table;
}
div#fd.es .search-blk .search-result-list a:after {
  clear: both;
}
div#fd.es .search-blk .search-result-list li + li {
  border-top: 1px solid #585858;
}
div#fd.es .search-blk + .search-blk {
  border-top: 1px solid #585858;
}
div#fd.es .search-footer {
  border-top: 1px solid #585858;
  padding: 14px 10px;
  background: #1a1a1a;
}
div#fd.es .search-empty {
  padding: 20px;
  text-align: center;
  color: #888;
}
div#fd.es .es-search-master {
  margin-bottom: 5px;
}
div#fd.es .es-search-advance {
  float: right;
  margin: 0 0 0 15px;
}
div#fd.es .es-search-advance a {
  display: inline-block;
  vertical-align: top;
  line-height: 28px;
}
div#fd.es .es-search-filter {
  overflow: hidden;
  margin: 0 0 0 -1px;
}
div#fd.es .es-search-filter-item {
  display: inline-block;
  float: left;
  margin: 2px 1px;
  position: relative;
}
div#fd.es .es-search-filter-item input {
  display: none;
}
div#fd.es .es-search-filter-item input:checked + label {
  background: #f5f5f5;
  border-color: #ddd;
}
div#fd.es .es-search-filter-item input:checked + label:after {
  opacity: 1;
  filter: alpha(opacity=100);
}
div#fd.es .es-search-filter-item label,
div#fd.es .es-search-filter-item label:before,
div#fd.es .es-search-filter-item label:after {
  -webkit-transition: ease .5s;
  transition: ease .5s;
}
div#fd.es .es-search-filter-item label {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  line-height: 26px;
  padding: 0 10px 0 30px;
  position: relative;
}
div#fd.es .es-search-filter-item label:before,
div#fd.es .es-search-filter-item label:after {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  content: '';
  width: 16px;
  height: 16px;
  line-height: 16px;
  position: absolute;
  left: 7px;
  top: 50%;
  margin-top: -8px;
  text-align: center;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 11px;
  display: inline-block;
  text-decoration: inherit;
}
div#fd.es .es-search-filter-item label:after {
  background: #428bca;
  border-color: #3071a9;
  color: #fff;
  content: "\f00c";
  opacity: 0;
  filter: alpha(opacity=0);
}
div#fd.es .es-adv-search .es-title {
  font-weight: bold;
  margin: 20px 0 10px;
}
div#fd.es .es-adv-search .form-criteria {
  width: 90%;
  margin-bottom: 10px;
}
div#fd.es .es-adv-search .form-criteria select {
  font-weight: bold;
}
div#fd.es .es-adv-search .form-condition {
  display: table;
  width: 100%;
}
div#fd.es .es-adv-search .form-condition > span {
  display: table-cell;
  vertical-align: top;
  padding-right: 3px;
}
div#fd.es .es-adv-search .form-condition .form-control {
  width: 100%;
}
div#fd.es .es-adv-search .form-condition .datepicker-wrap input {
  width: 100%;
}
div#fd.es .es-adv-search .form-inline + .form-inline {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #444;
}
div#fd.es .es-adv-search .form-inline [data-itemdatakey],
div#fd.es .es-adv-search .form-inline [data-itemcriteria],
div#fd.es .es-adv-search .form-inline [data-itemoperator] {
  width: 22%;
}
div#fd.es .es-adv-search .form-inline [data-itemcondition] {
  max-width: 150px;
}
div#fd.es .es-adv-search .form-inline .form-plus-minus {
  float: right;
  margin-left: 10px;
  position: relative;
  z-index: 2;
}
div#fd.es .es-adv-search .form-inline .form-plus-minus i {
  margin-right: 2px;
}
div#fd.es .es-adv-search .form-inline .form-plus-minus .ies-minus-2 {
  color: #C94332;
}
div#fd.es .es-adv-search .form-inline .form-plus-minus .ies-plus-2 {
  color: #8AC72C;
}
div#fd.es.w480 .es-adv-search .form-criteria {
  width: 80%;
}
div#fd.es.w480 .es-adv-search .form-condition {
  margin-bottom: 0;
}
div#fd.es.w480 .es-adv-search .form-plus-minus {
  margin: 0 0 10px;
}
div#fd.es.w480 .es-adv-search .form-inline + .form-inline {
  margin-top: 20px;
  padding-top: 20px;
}
