.es-photos-avatar {
	text-align: center;

	.es-photo-image {

		width: 100%;
		height: 240px;

		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		position: relative;
	}

	.imgareaselect-outer {
		cursor: crosshair;
	}
}

.es-photo-avatar-viewport {
	position: absolute;
	cursor: crosshair;
}

.es-photos-avatar-loading {
	float: left;
	display: none;
	
	> i {
		display: inline-block !important;
		margin: 0 10px 0 0;
		padding: 8px !important;
		position: relative;
		top: 3px;
	}
}