.es-photo-nav-button {
	position: absolute;
	top: 0;
	height: 100%;
	width: 30%;
	padding: 0 12px;
	cursor: pointer;
	opacity: 0;

	.transition(all .1s ease);

	i {
		background: #999;
		border-radius: 100%;
		.box-shadow(0px 2px 0px rgba(0,0,0,0.7));

		width: 60px;
		height: 60px;
		font-size: 24px;
		padding: 18px;
		margin-top: -30px;
		position: absolute;
		top: 50%;
		color: #fff;

		&:before {
			text-shadow: 0 2px 0 rgba(0,0,0,.3);
		}

		// .transition(all .2s ease);
	}

	&.disabled {
		display: none;
	}

	&:hover,
	&.active {
		opacity: 1;
	}
}

.es-photo-prev-button {
	left: 0;
	// #gradient > .horizontal(rgba(0,0,0,0.5), rgba(0,0,0,0));
	background-color: transparent;

	i { left: 35px; }

	// i { left: 40px; }

	// &:hover {
	// 	i { left: 35px; }
	// }
}

.es-photo-next-button {
	right: 0;
	// #gradient > .horizontal(rgba(0,0,0,0), rgba(0,0,0,0.5));
	background-color: transparent;

	i { right: 35px; }

	// i { right: 40px; }

	// &:hover {
	// 	i { right: 35px; }
	// }
}