.placeholder {
	background: #ccc;
}

.ordering {
	.es-photo-item {
		.transition(all 1s)
	}

	.dragging {
		opacity: 0.7;
		overflow: visible;
		width: 0px !important;
		height: 0px !important;
		.transition(none !important);
	}
}