@esPopupViewportBackground: #eee;
// Photos/avatar
// Photos/Popup
// Photos/viewer
// Photos/navigation
// Photos/response
// Photos/taglist
// Photos/stats
// Photos/form

// Photos/item
@esPhotoContentBackground: darken(@esBackground, 6.8%); //eee
@esPhotoSelectedBorder: #8BD34A;
@esPhotoTitleColor: @esBackground;
@esPhotoTextShadow: @esTextShadow;
@esPhotoLocationBorder: darken(@esBackground, 20%); //ccc
@esPhotoHeaderBackground: darken(@esBackground, 2.5%); //f9f9f9

// Photos/upload
@esPhotoUploadBackground: #f5f5f5;
@esPhotoUploadBtnColor: @link-color;

// Photo/tag
@esPhotoTagBackground: #aaa;
@esPhotoTagBorder: rgba(255,255,255,.5);
@esPhotoTagBoxShadow: 0 0 1px rgba(0, 0, 0, 1);
@esPhotoTagFormBackground: #fff;
@esPhotoTagFormBorder: #ccc;
@esPhotoTagMenuBorder: #f5f5f5;
@esPhotoTagMenuColor: @esColor;
@esPhotoTagMenuActiveBackground: #E7EDF3;
@esPhotoTagListBorder: #ccc;
@esPhotoTagListActiveBackground: #ddd;
@esPhotoTagListActiveBorder: #ddd;


// Albums/form
@esAlbumFormBackground: @esBackground;
@esAlbumFormBorder: darken(@esBackground, 20%); //ccc
@esAlbumCoreAlbumBackground: darken(@esBackground, 2.5%); //f9f9f9


// Tagging
@esPhotoItemTaggingBackground: #ccc;
@esPhotoItemTaggingAlertColor: #444;
@esPhotoItemTaggingTextShadow: 0px 1px 0px rgba(255,255,255,0.4);
