div#fd.es .friendsAction {
  position: relative;
}
div#fd.es.view-profile[class^="layout-edit"] .control-label,
div#fd.es.view-profile[class*=" layout-edit"] .control-label {
  font-size: 11px;
}
div#fd.es.view-profile.layout-about .es-cover-wrap .es-cover-avatar {
  margin: 10px;
}
div#fd.es.view-profile.layout-about .es-cover-wrap .es-cover-avatar .es-avatar {
  width: 110px;
  height: 110px;
}
div#fd.es.view-profile.layout-about .es-cover-wrap .es-cover-avatar .es-avatar img {
  width: 110px;
  height: 110px;
}
div#fd.es.view-profile.layout-about .es-cover-wrap .es-avatar-flyout {
  width: 100%;
  left: 0;
  bottom: 0;
}
div#fd.es.view-profile.layout-about .es-cover-wrap .es-avatar-flyout .btn {
  width: auto;
}
div#fd.es.view-profile.layout-about .step-content {
  display: none;
}
div#fd.es.view-profile.layout-about .step-content.active {
  display: block;
}
div#fd.es.view-profile.layout-edit .es-sidebar {
  width: 190px;
}
div#fd.es.view-profile.layout-edit .form-profile,
div#fd.es.view-profile.layout-edit .form-social {
  margin: 0 20px;
  min-height: 450px;
}
div#fd.es.view-profile.layout-edit .form-profile {
  font-size: 11px;
}
div#fd.es.view-profile.layout-edit .form-social .yesno-list > li div.pull-left {
  max-width: 320px;
}
div#fd.es.view-profile.layout-edit .step-content {
  display: none;
}
div#fd.es.view-profile.layout-edit .step-content.active {
  display: block;
}
div#fd.es.view-profile.layout-edit .avatar-preview {
  display: block;
  width: 128px;
  height: 128px;
  position: relative;
  background: #f5f5f5;
  border-radius: 3px;
}
div#fd.es.view-profile.layout-edit .avatar-preview img {
  position: absolute;
}
div#fd.es.view-profile.layout-edit .avatar-preview .loading-indicator {
  position: absolute;
  left: 50%;
  margin-left: -25px;
  top: 20%;
}
div#fd.es.view-profile.layout-edit .es-avatar-list > li .es-avatar {
  border: 4px solid white;
  border-radius: 8px;
}
div#fd.es.view-profile.layout-edit .es-avatar-list > li img {
  border: none;
  width: 58px;
  height: 58px;
}
div#fd.es.view-profile.layout-edit .es-avatar-list > li:hover .es-avatar {
  border: 4px solid #ccc;
}
div#fd.es.view-profile.layout-edit .es-avatar-list > li.active .es-avatar {
  border: 4px solid #5B93CE;
}
div#fd.es.view-profile.layout-edit .form-actions {
  margin-left: 1px;
}
div#fd.es.view-profile.layout-editPrivacy .privacy-contents {
  display: none;
  margin-left: 20px;
  position: relative;
}
div#fd.es.view-profile.layout-editPrivacy .privacy-contents:first-child {
  display: block;
}
div#fd.es.view-profile.layout-editPrivacy .privacy-custom-menu {
  position: absolute;
  padding: 10px;
  min-width: 350px;
}
div#fd.es.view-profile .form-notifications,
div#fd.es.view-profile .form-privacy {
  min-height: 300px;
}
div#fd.es.view-profile .es-header-info {
  font-size: 11px;
  padding-bottom: 10px;
}
div#fd.es.view-profile .es-widget .fd-nav > li > a {
  font-size: 11px;
}
div#fd.es.view-profile .es-widget .fd-nav > li > a > i {
  margin-right: 5px;
}
div#fd.es.view-profile .dropdown-friends {
  width: 200px;
  font-size: 11px;
}
div#fd.es.view-profile .dropdown-friends li i {
  color: #666;
}
div#fd.es.view-profile .dropdown-friends li >hr {
  margin: 0 0 10px 0;
  padding: 0;
}
div#fd.es.view-profile .es-app-wrapper {
  padding: 10px;
}
div#fd.es.view-profile .tab-box .tab-content {
  padding: 0px 18px 0 0;
}
div#fd.es.view-profile .tab-box .tab-content .es-content {
  padding-top: 10px;
}
div#fd.es.view-profile .controls.data .help-block {
  margin-top: 5px;
}
div#fd.es.view-profile .form-horizontal {
  margin: 0;
  padding-bottom: 10px;
}
div#fd.es.view-profile .form-horizontal .control-label {
  text-align: left;
}
div#fd.es .profile-data-box {
  margin-bottom: 10px;
  padding: 0 15px;
}
div#fd.es .profile-data-box .profile-data-title {
  background: #f5f5f5;
  padding: 10px;
  font-size: 12px;
  margin-bottom: 16px;
}
div#fd.es .profile-data-box .profile-data-table {
  width: 100%;
  margin-bottom: 30px;
}
div#fd.es .profile-data-box .profile-data-table th,
div#fd.es .profile-data-box .profile-data-table td {
  vertical-align: top;
  padding: 0;
  border: none;
}
div#fd.es .profile-data-box .profile-data-table td {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}
div#fd.es .profile-data-box .profile-data-table td .es-privacy {
  top: -1px;
  right: 2px;
}
div#fd.es .profile-data-box .profile-data-table .profile-data-label {
  width: 120px;
  padding-left: 30px;
  text-align: left;
  color: #999;
}
div#fd.es .profile-data-box .profile-data-table .profile-data-info {
  position: relative;
  padding-left: 20px;
}
div#fd.es .profile-data-box .profile-data-table .profile-data-info .data-relationship-display[data-relationship-display-confirm] .data-relationship-display-info {
  padding: 0;
}
div#fd.es .profile-data-box .profile-data-table .profile-data-info .data-relationship-display[data-relationship-display-confirm] [data-relationship-display-target-name] {
  margin-top: 6px;
}
div#fd.es .profile-data-box .profile-data-table .profile-data-list {
  list-style: none;
  line-height: 26px;
}
div#fd.es .profile-data-box .profile-data-table .profile-data-list > li {
  margin-bottom: 8px;
}
div#fd.es .profile-data-box .profile-data-table .profile-data-list > li .data-desp {
  display: block;
  color: #888;
  margin: 4px 0;
}
div#fd.es .es-user-banned {
  border-radius: 3px;
}
div#fd.es .es-user-banned b {
  display: block;
  font-size: 110%;
  margin: 0 0 3px;
}
div#fd.es.w480.view-profile .form-horizontal .input-xlarge {
  width: 100%;
}
div#fd.es.w480.view-profile .form-horizontal .control-label {
  float: none;
  width: 100%;
}
div#fd.es.w480.view-profile .form-horizontal .controls {
  margin-left: 0;
  margin-right: 10px;
}
div#fd.es.w480.view-profile.layout-edit .form-profile,
div#fd.es.w480.view-profile.layout-edit .form-social {
  margin: 0;
}
div#fd.es.popbox.popbox-profile {
  width: 420px !important;
  height: 215px !important;
  background-color: #fff !important;
  border-radius: 1px;
  padding: 0;
  border: 1px solid rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
div#fd.es.popbox.popbox-profile.top-left .arrow {
  border-top-color: #f2f2f2;
}
div#fd.es.popbox.popbox-profile .profile-details {
  position: absolute;
  z-index: 2;
  bottom: 73px;
  left: 0;
  color: white;
  padding: 20px 10px 5px 86px;
  width: 100%;
  height: 61px;
  background-image: -webkit-linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.1) 30%,rgba(0,0,0,0.5));
  background-image: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.1) 30%,rgba(0,0,0,0.5));
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#7f000000', GradientType=0);
}
div#fd.es.popbox.popbox-profile .profile-details .profile-title {
  font-weight: bold;
  font-size: 13px;
}
div#fd.es.popbox.popbox-profile .profile-details .profile-title > a {
  color: white !important;
}
div#fd.es.popbox.popbox-profile .profile-details .profile-title > a:hover {
  text-decoration: underline !important;
  background: none !important;
}
div#fd.es.popbox.popbox-profile .profile-details .profile-title,
div#fd.es.popbox.popbox-profile .profile-details .profile-desp {
  text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
div#fd.es.popbox.popbox-profile .popbox-cover {
  display: block;
  width: 100%;
  height: 140px;
  background: #333;
  position: absolute;
}
div#fd.es.popbox.popbox-profile .popbox-cover > div {
  width: 100%;
  height: 100%;
}
div#fd.es.popbox.popbox-profile .es-online-status {
  position: absolute;
  bottom: 117px;
  left: 77px;
  right: auto;
  top: auto;
}
div#fd.es.popbox.popbox-profile .popbox-avatar {
  position: absolute;
  z-index: 2;
  left: 10px;
  bottom: 50px;
  border-radius: 2px;
  overflow: visible;
  width: 64px;
  height: 64px;
  border: 2px solid #fff;
}
div#fd.es.popbox.popbox-profile .popbox-avatar img {
  width: 60px;
  height: 60px;
  background: #fff;
  display: block;
  max-width: none;
}
div#fd.es.popbox.popbox-profile .popbox-info {
  position: absolute;
  width: 100%;
  padding-left: 85px;
  bottom: 32px;
}
div#fd.es.popbox.popbox-profile .btn-group {
  display: inline-block;
  font-size: 0;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
}
div#fd.es.popbox.popbox-profile .pull-right {
  float: right;
}
div#fd.es.popbox.popbox-profile .btn-es {
  display: inline-block;
  outline: 0;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #d7d7d7;
  *border: 0;
  border-bottom-color: #bebebe;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
div#fd.es.popbox.popbox-profile .btn-es:hover {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  background-color: #e6e6e6;
  -webkit-transition: background-position .1s linear;
  transition: background-position .1s linear;
}
div#fd.es.popbox.popbox-profile .btn-es:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
div#fd.es.popbox.popbox-profile .btn-es.active,
div#fd.es.popbox.popbox-profile .btn-es:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
div#fd.es.popbox.popbox-profile .btn-es.disabled,
div#fd.es.popbox.popbox-profile .btn-es[disabled] {
  cursor: default;
  background-image: none;
  opacity: .65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
div#fd.es.popbox.popbox-profile .btn-group + .btn-group {
  margin: 0;
  left: -5px;
}
div#fd.es.popbox.popbox-profile .btn-friends {
  border-radius: 3px;
}
div#fd.es.popbox.popbox-profile .btn-message {
  border-radius: 0 3px 3px 0;
  position: relative;
  left: -2px;
}
div#fd.es.popbox.popbox-profile .popbox-footer {
  background: #f2f2f2;
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 0px;
  padding: 7px 10px;
}
div#fd.es.popbox.popbox-profile .popbox-footer a:focus {
  outline: none;
}
div#fd.es.popbox.popbox-profile .popbox-items {
  margin: 0 !important;
}
div#fd.es.popbox.popbox-profile .popbox-items > li {
  width: 31%;
  display: inline-block !important;
  text-align: center !important;
  margin: 0 -3px 0 0 !important;
}
div#fd.es.popbox.popbox-profile .popbox-item-info {
  border-left: 1px solid #f2f2f2 !important;
  padding: 2px 2px 4px !important;
  font-size: 11px !important;
  line-height: 14px !important;
  width: 100% !important;
  height: 36px !important;
  overflow: hidden !important;
}
div#fd.es.popbox.popbox-profile .popbox-item-info > a {
  color: rgba(0,0,0,0.8);
}
div#fd.es.popbox.popbox-profile .popbox-item-info > a:hover .popbox-item-total {
  text-decoration: underline !important;
}
div#fd.es.popbox.popbox-profile .popbox-item-info .popbox-item-total {
  line-height: 14px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  font-weight: bold;
}
div#fd.es.popbox.popbox-profile .popbox-item-info .popbox-item-text {
  line-height: 14px !important;
}
div#fd.es.popbox.popbox-profile .fd-nav {
  position: relative;
}
div#fd.es.popbox.popbox-timezone .es-timezone-block {
  display: block;
  padding: 10px;
  border-top: 1px solid #d7d7d7;
}
div#fd.es.popbox.popbox-timezone .es-timezone-block:hover {
  background: #fafafa;
}
div#fd.es.popbox.popbox-timezone .es-timezone-block:first-child {
  border-top: 0;
}
div#fd.es.popbox.popbox-timezone .es-timezone-block.es-timezone-by a {
  font-size: 11px;
  color: #aaa;
}
@media (max-width: 680px) {
  div#fd.es.popbox.popbox-profile {
    width: 98% !important;
    left: 5px !important;
    right: 5px !important;
  }
  div#fd.es.popbox.popbox-profile .arrow {
    display: none !important;
  }
}
